[2018-03-16 19:31] ahmelsayed opened #2 "python image is too large"

[2018-03-16 19:34] davidebbo commented on #2
That's a bit vague :)

[2018-03-18 01:42] asavaritayal commented on #2
The image is ~800MB. The (preview sample)[https://github.com/Azure/azure-functions-docker-python-sample] is 1GB. Definitely needs attention :(

[2018-03-19 18:20] ahmelsayed commented on #2
It's 400ish now https://hub.docker.com/r/microsoft/azure-functions-python3.6/tags/

The base image `azure-functions-base` is 150ish, and the python image which just installs python on top of that image and adds the worker (500 KBs) is 400. That's 250 MBs for python alone which matches the python non-slim image sizes from the official python images https://hub.docker.com/r/library/python/tags/

@as

[2018-03-20 17:19] pragnagopa opened #3 "Update python3.6 dockerfile to pull python worker from a specific tag"
As we are private preview,  need to update docker file to pull [Python Worker](https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/jessie/amd64/python3.6/Dockerfile#L7) from a tagged build

[2018-03-20 17:19] pragnagopa commented on #3
/cc @asavaritayal

[2018-03-22 17:50] asavaritayal commented on #2
@brettcannon, @1st1, @elprans - to suggest. Currently we're using the `python:3.6.4-jessie` image.

[2018-03-22 17:51] asavaritayal opened #4 "Update pip version for the Python base image"
![image](https://user-images.githubusercontent.com/8435148/37788577-01366c94-2dbf-11e8-8721-c7961f395f2a.png)

[2018-03-22 18:02] brettcannon commented on #2
Since this is Docker's image and not an official one from the Python team I can't directly speak to why they make that recommendation. If I had to guess, though, it's because the slim image might lack stuff like clang to compile C extensions or other common C libraries which some C extensions might expect to be there. Otherwise my Twitter poll suggests most Python developers use Alpine in producti

[2018-03-22 18:03] elprans commented on #2
Alpine is not compatible with manylinux though, since it's not glibc-based.

[2018-03-22 22:18] brettcannon commented on #2
@elprans correct, and I asked some folks who preferred Alpine and they said they didn't care. Now it's going to be a different situation here for installing dependencies versus installing a wheel when bringing your own code, but it seems those who use their own containers have a preference.

[2018-03-22 22:25] elprans commented on #2
@brettcannon For simple stuff alpine works perfectly. Complications arise when you need a binary package which requires a ton of `-dev` packages to compile from source, and you end up polluting your image anyway.  And the UX is not great, since it's not always obvious which package you need to install in order to resolve some `gcc: foo.h: no such file or directory`.

Basically, we are trading comp

[2018-03-22 22:38] brettcannon commented on #2
@elprans it probably isn't worth the headache. I suspect it would be better to look at what is missing in a slim versus full image or look at alternatives like Debian or Fedora images.

[2018-03-22 22:54] elprans commented on #2
@brettcannon `-slim` doesn't include any `-dev` packages, so it's equivalent to `-alpine` in many ways.

[2018-03-22 23:15] brettcannon commented on #2
Then this is getting down to comparing the image size between various Linux distros to see who has a smaller server image (unless we can convince PyPI or Microsoft to host a wheel-building farm for every package uploaded to PyPI 😉 ).

[2018-03-23 19:15] asavaritayal opened #5 "Create separate images for Python, Node and C#"
We need separate images containing the functions host, language runtime and the language worker.

[2018-04-12 20:26] asavaritayal opened #6 "[Python] Install required packages to the virtual environment"
Context: [Creating the deployment package (BYOF)](https://github.com/Azure/azure-functions-python-worker/issues/6)

We need to install the user's packages and dependencies to the virtual environment in production. For this, we will `pip install` using the `requirements.txt` manifest and archives in the `wheels` folder.

[code]

The proposal is to do this as part of the `start.sh` script before act

[2018-04-18 03:04] ahmelsayed opened #7 "Portal doesn't display the runtime version"
_From @davidebbo on April 17, 2018 1:43_

It just shows the ~ version but not the actual host version:

![image](https://user-images.githubusercontent.com/556238/38843867-d6691f2a-41a5-11e8-8793-dc8292ddb103.png)

The fact that it incorrectly says to upgrade is tracked separately by #2564.

_Copied from original issue: Azure/azure-functions-ux#2567_

[2018-04-18 03:04] ahmelsayed commented on #7
the current logic is that when there is an "update" we don't display the full version. I'm hesitant to change that code since we no longer have an "Update" really between v1 -> v2.
I'll move this to the docker repo to add the correct tag version to the host when the docker image is built.

With the fix for #2564 it looks like this

![image](https://user-images.githubusercontent.com/645740/38909669

[2018-04-24 21:49] pragnagopa commented on #3
@ahmelsayed - Please update the docker file for python private preview to use:
 [azure-functions-python-worker 1.0.0-alpha](https://github.com/Azure/azure-functions-python-worker/releases/tag/1.0.0-alpha) and [azure-functions-host v2.0.11651-alpha](https://github.com/Azure/azure-functions-host/tree/v2.0.11651-alpha)

[2018-04-24 21:50] pragnagopa commented on #3
FYI: @mhoeger

[2018-05-04 17:16] ahmelsayed commented on #7
fixed in https://github.com/Azure/azure-functions-docker/commit/5e16debd0b73b01d63c0ae0b31fdeca556997bbe

[2018-05-04 17:16] #7 closed

[2018-05-08 10:10] NickDarvey opened #8 "Functions v1 image"
I've seen references to Functions v1 being run inside a container,

https://github.com/Azure/Azure-Functions/issues/288#issuecomment-349810314

is there any chance that Dockerfile can be added to that repo and/or that image could be published so we can use it as part of our test environment for our v1 Functions till v2 is out of preview?

[2018-05-08 19:28] ahmelsayed commented on #8
@jvano Do you have a v1 Dockerfile we can share with @NickDarvey ?

[2018-05-08 21:13] aluong opened #9 "Post pip install azure-common, worker module imports are failing"
Base image: **microsoft/azure-functions-pyon3.6:v2.0.11737-alpha**

## Repro:
After pip installing the azure-common module, I get the following error when trying to import azure.functions. `ModuleNotFoundError: No module named 'azure.functions'`

[code]

## Workaround to get azure.functions import to work
Add the following lines to the docker file. This seems to change how the azure.functions modu

[2018-05-08 23:38] jvano commented on #8
@NickDarvey , the containers that are used for "Azure Functions Runtime" preview 2 are designed to work just for the our On-premises scenario and there is no dockerfile in a shareable form at this point.

However, you can derive from the base images which are available here:
https://hub.docker.com/r/azfuncrun/azure-functions-runtime

We have two tags, one for v1 and other for v2.

**Note: Remember

[2018-05-08 23:38] #8 closed

[2018-05-09 00:57] NickDarvey commented on #8
Thanks for your response @jvano. I have some follow-ups:

**Clarification on naming**
Is Azure Functions Runtime preview 2 a release that contains both Azure Functions Runtime v1 and v2?

If this is designed to run on-premise, does that mean you have published the images (not the dockerfile) then? Where are those for v1?

Is the tag for v1, 'preview2-latest-servercore'?

[2018-05-09 01:53] jvano commented on #8
In "Azure Functions Runtime" preview 2, the following two options are displayed:

- Option 1: "Functions v1 (.NET Framework) running in Windows Server Core container" which uses the docker hub image "azfuncrun/azure-functions-runtime:preview2-latest-servercore"
- Option 2: "Functions v2 (.NET Standard) running in Windows Nano Server container" which uses the docker hub image "azfuncrun/azure-funct

[2018-05-09 06:28] NickDarvey opened #10 "Publish an updated image of microsoft/azure-functions-runtime"
Am I in the right repo for [this image](https://hub.docker.com/r/microsoft/azure-functions-runtime/) (microsoft/azure-functions-runtime:2.0.0-nanoserver-1709)?

The latest update was six months ago and because of [this issue](https://github.com/Azure/Azure-Functions/issues/625) the host runtime needs to be updated in order to work with `Microsoft.NET.Sdk.Functions` > `1.0.6`.

[2018-05-12 17:32] aluong opened #11 "Cannot pass logging envronment variable down to the WebHost"
I have tried both ENV settings (It appears that WebHost has been updated [here](https://github.com/Azure/azure-functions-host/commit/1dae16ef2061de61ff0cd53b4140ba6443950a99) to use the second one):
[code]

Undoing the following commit seems to allow it to work again:
[Commit 36b4bba6457501](https://github.com/Azure/azure-functions-docker/commit/36b4bba6457501a3c33d9e8c0df769d38e5180b0
)

[2018-05-13 16:33] asavaritayal opened #12 "HttpTrigger Local Function Returns 406 in the Browser"
_From @aluong on May 8, 2018 22:13_

I cloned and the example which targets base image: **microsoft/azure-functions-python3.6:v2.0.11737-alpha**

When I go to

I see an Http Error 406. In the docker logs I see that the HttpTrigger was hit.

[code]

_Copied from original issue: Azure/azure-functions-docker-python-sample#15_

[2018-05-13 16:35] asavaritayal commented on #12
I'm running into the same issue - 406 on using  `microsoft/azure-functions-python3.6:v2.0.11737-alpha`.

[2018-05-13 18:38] aluong commented on #11
I noticed that dev-nightly seems to work with:
`ENV consoleLoggingMode=always`

Maybe something has changed in the WebHost, because I don't see anything different in the Dockerfile.

[2018-05-14 15:33] asavaritayal commented on #11
@pragnagopa

[2018-05-14 15:34] #9 closed

[2018-05-14 16:27] pragnagopa commented on #11
Yes. We have updated environment variable to consoleLoggingMode. Please udpate docker files. Here is the related issue that was fixed: https://github.com/Azure/azure-functions-host/issues/2759

[2018-05-14 16:27] #11 closed

[2018-05-17 01:18] NickDarvey commented on #10
Thanks!

[2018-05-17 01:18] #10 closed

[2018-05-23 05:45] NickDarvey opened #13 "Where is the new nanoserver variant?"
I was told that there is a new location for the images:

https://github.com/Azure/azure-functions-core-tools/issues/335#issuecomment-389336996

However, I can't find a nanoserver variant which was available as part of the [old image](https://hub.docker.com/r/microsoft/azure-functions-runtime/). Where can I find it?

[2018-06-15 14:23] stefangordon opened #14 "Install Azure SDK into base python image"
It would be nice to add `pip install azure` to https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/python3.6/Dockerfile

Of course it further aggravates #2 (although not sure if important)

This is comparable to what AWS does in Lambda, where 100% of the AWS SDK is available.

It also reduces lots of pain on the developer.  Packaging a function is usually not too big

[2018-06-19 19:30] asavaritayal commented on #14
Azure Python SDK is a user dependency. We don't want to include it as part of the inbuilt image to avoid version mismatch and an increased size of the base image.

**For local development,** the python functions base image is not used at all, so the user would still have to install the required packages on their machine using `pip`.

**For hosting in Azure,** it is preferred that the user publishe

[2018-06-19 19:49] stefangordon commented on #14
What if the user goes to the portal and creates a new function in the UI?  Seems they'd want them there. Or maybe that uses a template that could actually copy other packages in when created and is a different scenario.

I think CFFI was the tricky dependency, not sure if there is a workaround.

[2018-06-19 20:43] aluong commented on #14
FWIW, in the [Lambda deployment package document](https://docs.aws.amazon.com/lambda/latest/dg/lambda-python-how-to-create-deployment-package.html) they have this note:

And here is what comes for free in the Lambda Python Environments:
https://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html

[2018-06-19 21:01] stefangordon commented on #14
I suppose this issue shouldn't recommend the implementation detail but rather the scenario.  Main issue is that we don't currently see a reasonable solution for common scenarios of programmatic creation of python functions on MacOS or Windows (without installing a linux vm and docker).

If there is some way to make Azure binaries available for common platforms that would solve this also.  Sounds l

[2018-06-20 20:33] lmazuel commented on #14
If the SDK would be pre-installed would be awesome :). It's already done in some other azure product like [Azure Notebooks](https://notebooks.azure.com/). And I think lambda is right to do that.
Using the latest bundle "azure" makes sense. Note that I do a release every 6 months ish of this package, but I release way more often team packages (could be every week sometimes). So you can have a misma

[2018-06-20 20:53] stefangordon commented on #14
@lmazuel we have struggled to figure out how to get Linux packages to package into our Azure function deployment from a non-Linux machine.  Do these compile during install (crypto especially) or are you saying there are prebuilt binaries?  Any hints on how to approach that?

Right now I have to install the packages on linux to get things like `_cffi_backend.cpython-36m-x86_64-linux-gnu.so` - not s

[2018-06-20 21:50] lmazuel commented on #14
Wheel is a pre-built format by design, that even why they deprecated the old one called "eggs". Exactly yo solve your problem :)
CFFI then is pre-built for Linux, see all the wheel that contains the string "manylinux1":
https://pypi.org/project/cffi/#files

As long as your "pip" is recent enough, this should automatically detect what wheel to use. In the old Functions (the one right now), pip was

[2018-06-20 22:07] stefangordon commented on #14
Ah - I see that pip has a --platform parameter, which means there is also probably a straightforward way for me to programmatically go find the matching Linux wheel from python code running on windows to include in a zip destined for a Linux machine.   Tx.

[2018-06-20 22:16] elprans commented on #14
I wrote a tool specifically for that: https://github.com/Azure/azure-functions-python-worker/pull/142

[2018-06-21 15:59] stefangordon commented on #14
Yes, I will have to do something similar but there are many complicating factors.  You can't really do a virtualenv from Windows because you'd end up with the wrong python binaries in it.   So you can go without a virtualenv (uses the one installed in base image then) but then when you try to use the Azure SDK you will up with some complicated namespace/module path issues because you already have

[2018-06-21 16:09] elprans commented on #14
These issues only arise if you install the worker in development mode (`pip install -e`), which was done in some earlier docker images.  Regular install (`pip install azure-python-worker azure-sdk`) should work without a problem assuming that you unzip your function artifact over your virtualenv.

[2018-06-21 16:11] elprans commented on #14
Also the namespace issues should really be fixed on the SDK side.  There's no reason not to make `azure` a pure-namespace package on Python 3.

[2018-06-21 16:22] stefangordon commented on #14
Agreed for sure on SDK namespace issue, but may not be following entirely.  My approach would be to zip deploy a package with no virtualenv (I'd end up in the `/root/.pyenv` then based on current `start.sh` implementation).

So I would probably not have azure-python-worker since that is already in the env, instead I'd hack `sys.path` to look in `wwwroot` for the rest of my packages, namely the `Az

[2018-06-21 22:59] lmazuel commented on #14
Compatibility is one of them :). Currently I ship universal wheels for SDK, and what you ask is to release a py2 and a py3 wheel with different namespace packages system.
Also, I customize the wheel to NOT have any namespaces packages information anymore (the __init__.py is empty if you install from wheel). But from sdist, you get a package_resource namespace package, which is incompatible with PE

[2018-06-21 23:34] elprans commented on #14
Yes, unfortunately setuptools `setup.py install` is broken in many-many ways and should not be used in any reasonable circumstance.  That said, I'm with you on compatibility.  The solution here would be to override the `install` cmdclass and use the `distutils` version directly, i.e:

[code]

That way you would get a wheel-like install (i.e extracted files), albeit with `egg-info` metadata instead

[2018-06-26 19:55] asavaritayal opened #17 "Enable remote debugging for Python Functions"
Only applicable to Function Apps on dedicated/app service plan.

**Requirements:**
- Container should start in debug mode using $APPSVC_TUNNEL_PORT which is set by app service
- Include `pip install --pre ptvsd` as part of the `dockerfile`

More details TBD.

[2018-07-12 20:52] prashanthmadi opened #19 "Support Anaconda distribution as a separate image for ML workloads"
- Installs some of the best and most used libraries by default
- Easy to install modules with conda compared to pip(+wheels)
- Most of engineers running python on functions v2 might use it for data processing with pandas or other libraries. they might not be interested in going through extra steps for installing them..

[2018-07-12 21:00] prashanthmadi commented on #19
Looks like there is already a concern for image size in another issue. i will close this.

[2018-08-01 19:56] thyde1 opened #20 "Functions With Storage Queue Triggers"
I have used this base image to run a function which uses a storage queue trigger.
This works when I run the container on my machine:
`docker run --name function functionimagename`
as in I can see then when putting messages on the relevant queue, they are consumed.

However, if I deploy to Azure (as a Functions app with "OS"=="Docker"), I can see that a container is run using my image, but items on

[2018-08-01 20:10] thyde1 commented on #20
I have tried setting AzureWebJobsStorage to my Storage Account connection string in application settings for the functions app, as well as an ENV value in my Dockerfile, as I'm unsure if one will override the other.

[2018-08-04 18:09] thyde1 commented on #20
I have resolved this problem now.

For some reason, in a docker Azure Functions app set up via the Azure Portal, functions would not run at all, however, if I have a functions app set up via the Azure CLI like
`az functionapp create --name <MyFunctionAppName> --storage-account <MyStorageAccount> --resource-group <MyResourceGroup> --plan <MyAppServicePlan> --deployment-container-image-name <MyImage

[2018-08-04 18:09] #20 closed

[2018-08-08 20:51] takyyon opened #21 "SSH Connection fails in function apps"
We might have to install the ssh on function app container.

The links below might be helpful,
1. https://github.com/Azure-App-Service/node/blob/master/10.1.0/Dockerfile
2. https://github.com/Azure-App-Service/node/blob/master/10.1.0/sshd_config

[2018-09-05 14:55] sandersonatlatitude opened #24 "No Console Logging"
In the  latest build all console logging of errors is gone, and my queueTrigger do not start .
Using microsoft/azure-functions-node8:2.0

[2018-09-06 22:06] jmo808 commented on #24
The python version has similar issues, I can't get any type of function to work.

[2018-09-09 15:06] Tetradeus opened #25 "Azure portal cannot list my functions anymore"
Hello,

Azure portal is not listing my functions anymore. May it comes from recent changes ?

When azure portal tries to list my functions in the interface, it tries to access /admin/functions and here is the result :

OPTIONS https://xxxxxxx.azurewebsites.net/admin/functions 404 ()
Failed to load https://xxxxxxx.azurewebsites.net/admin/functions: Response to preflight request doesn't pass access

[2018-09-10 22:01] Tetradeus commented on #25
After redeploying, the ui finally get to print my functions but it only works one time....
The problem looks to me more on the second call :
POST https://functions.azure.com/api/passthrough 500 (Internal Server Error)
POST /api/passthrough HTTP/1.1
Host: functions.azure.com
Connection: keep-alive
Content-Length: 447
Origin: https://functions.azure.com
content-type: application/json
Accept: applica

[2018-09-17 20:53] ColbyTresness opened #26 "Update ARM32 Linux and Windows containers with breaking changes"
Since the big breaking change in V2, these two images haven't been updated. This is blocking a partner team.

[2018-09-17 21:29] asavaritayal commented on #25
This issue was moved to Azure/azure-functions-ux#3166

[2018-09-17 21:29] #25 closed

[2018-09-17 21:31] asavaritayal commented on #24
This issue was moved to Azure/azure-functions-host#3469

[2018-09-17 21:31] #24 closed

[2018-09-25 20:42] eduardomourar opened #28 "Minor update to Python image"
As per [official Python docker image](https://github.com/docker-library/python/blob/master/3.6/stretch/slim/Dockerfile), could we add some important environment variables:
[code]

Also, while at it, why don't we update to version 3.6.6. I have been doing some tests and, so far, not a single problem.

[2018-10-03 17:25] asavaritayal opened #30 "Publish PowerShell image to MCR"
Hook up the build pipeline for the new PowerShell image and publish it to the MCR repo. @ahmelsayed

[2018-10-03 17:51] elprans commented on #28
No objections.

[2018-10-03 19:49] ankitkumarr commented on #28
Currently, we install and upgrade pip to the latest version. Just setting `ENV PYTHON_PIP_VERSION 18.0` explicitly may cause version mismatch in the future.

I could change it to download specifically pip version 18.0, and then set `ENV PYTHON_PIP_VERSION 18.0`. Would that be ok, @elprans.

[2018-10-04 02:37] elprans commented on #28
I don't think those environment variables affect anything but the Dockerfile recipe itself.  Python and pip themselves certainly don't care.

[2018-10-04 08:02] eduardomourar commented on #28
My point (based on python official image) is to have an easy way to check what python and pip version has been installed. So it would be nice to have version of pip installed that match the environment variable.

[2018-10-04 14:48] elprans commented on #28
Yes, of course, the vars should match the actual versions installed.  The easiest way to achieve that is to use the vars when installing, e.g `pip install pip==${PYYTHON_PIP_VERSION}`

[2018-10-04 15:43] ankitkumarr commented on #28
Right, that's what I meant to double check because currently, we are getting the latest upgrade of pip. Ok to install specifically version 18?

[2018-10-04 15:51] elprans commented on #28
I see no problems with that.

[2018-10-05 21:52] #28 closed

[2018-10-09 01:35] asavaritayal opened #32 "Pre-install popular apt-get packages to the Python image"
[code]

[2018-10-10 21:48] Morgma opened #35 "Functions 2.x - How to register bindings?"
For functions 2.x, it is [requirement to explicitly register](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings) any extensions aside from HTTP and Timer. I've found that when running a simple ServiceBusTrigger'd function app within a Docker container, the host fails to load the functions runtime because the required extension isn't installed. It seems to not be en

[2018-10-11 15:22] asavaritayal opened #36 "Install pyodbc in the base Python image"

[2018-10-11 15:40] #36 closed

[2018-10-11 18:35] Rye6 opened #37 "Microsoft ODBC Driver 17 for SQL Server - Python"
I'd like to be able to connect from a Python Azure Function in the 2.0 runtime (consumption plan) to an Azure SQL Server 17 database.

Currently receiving the error: `OdbcNoLibrary: ODBC Library is not found.` which should be resolved by #32, but I believe the correct driver would also need to be installed for unixodbc to actually make the connection. I found instructions for that here: https://do

[2018-10-12 19:05] daxian-dbw opened #39 "python.Dockerfile is using an old version of the worker"
It seems `python.Dockerfile` is pulling in an old version (`1.0.0a4`) of the worker's source code, is that intentional? If not, please update to use the latest release `1.0.0a6`

https://github.com/Azure/azure-functions-docker/blob/701bb7c37089bb1bf312f950563839aacf53287d/host/2.0/stretch/amd64/python.Dockerfile#L3-L13

[2018-10-12 20:02] daxian-dbw opened #40 "'amd64/powershell.Dockerfile' was changed to derive from the 2.0-arm32v7 version of base image"
The `powershell.Dockerfile` under '**amd64**' folder was changed by @ahmelsayed to use the `2.0-arm32v7` version of base image while the `powershell.Dockerfile` under 'arm32v7' also uses `2.0-arm32v7`. This doesn't look right to me. Is this change intentional?

See https://github.com/Azure/azure-functions-docker/commit/015b97f99dd552d28a1a7c5de0ebf6e4c5680976#diff-11f1eb5263439c21200d6c06fdf6bc28R

[2018-10-12 20:06] #40 closed

[2018-10-12 22:28] ahmelsayed commented on #39
/cc @pragnagopa can you make sure to include updating the reference here to your process of updating python worker versions?

[2018-10-12 22:29] pragnagopa commented on #39
@maiqbal11 - Please update the docker file?

[2018-10-12 22:52] maiqbal11 commented on #39
Created PR #42 for this

[2018-10-12 22:55] pragnagopa commented on #39
I will update the release process to include docker file updates.

Thanks @daxian-dbw  for opening the issue!

[2018-10-12 23:10] daxian-dbw commented on #39
I guess both the `functions-python` and `functions-powershell` docker images need to be refreshed in MCR now.

[2018-10-12 23:18] ahmelsayed commented on #39
`:dev` tag is being built. Updating `2.0` and `latest` tags is manual. I'll push an update once dev is done

[2018-10-12 23:32] ahmelsayed commented on #39
@maiqbal11 sorry looks like we use that version for both `azure-functions` and `azure-functions-worker` the CI is failing with

[code]

I think you may wanna add another setting since the 2 are diverging now.

[2018-10-15 18:53] #39 closed

[2018-10-15 21:46] ahmelsayed commented on #37
should be fixed in 77e57d37cdbeb27ea17b12c54a8c79f40376eca5

[2018-10-15 21:46] #37 closed

[2018-10-15 21:48] ahmelsayed commented on #35
How are you creating your docker image?

[2018-10-15 21:48] ahmelsayed commented on #30
should be there now.

[2018-10-15 21:48] #30 closed

[2018-10-15 21:48] ahmelsayed commented on #26
This is done

[2018-10-15 21:48] #26 closed

[2018-10-15 21:51] ahmelsayed commented on #19
This issue is not really actionable. I don't know what the ask here is. If you want to use some custom python version you can drive from the python image we have and install anything on top of it. feel free to reopen this issue if there is any actionable work here.

[2018-10-16 19:16] Rye6 commented on #37
I believe the particular SQL Server driver needs to be made available as described above. With the changes you mentioned, my error advanced from `OdbcNoLibrary: ODBC Library is not found.` to `('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 17 for SQL Server' : file not found")`.

If I'm mistaken and this is working as intended, could you advise on what needs to be changed

[2018-10-17 23:08] ahmelsayed opened #43 "install msodbcsql in the python image"

[2018-10-23 20:58] dariagrigoriu opened #46 "Azure SDKs native in Functions"
Specific customer feedback indicates the experience in Functions can be improved by making Azure SDKs native in Functions (currently requires packaging SDK and uploading). This would create an experience for Functions more aligned to a principle of “inter-connected tissue” to facilitate serverless to hook among the services within Azure.

[2018-10-24 06:29] balag0 opened #47 "Install Microsoft odbc driver for sql server in python image"
Python function apps using pyodbc to connect to Azure SQL are failing with
('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'SQL Server' : file not found (0) (SQLDriverConnect)")

Instructions to install:
https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-2017

[2018-10-24 16:33] asavaritayal commented on #47
There's a PR for this - https://github.com/Azure/azure-functions-docker/pull/45

[2018-10-25 19:53] ahmelsayed commented on #47
Fixed in #45

[2018-10-25 19:53] #47 closed

[2018-10-25 19:53] ahmelsayed commented on #43
Fixed in #45

thanks @andrebriggs !

[2018-10-25 19:53] #43 closed

[2018-11-05 21:48] plaurent opened #51 "Python requirement absl-py installation fails (binary dependencies without wheels are not supported)"
When trying to deploy a function app that requires TensorFlow (e.g., tensorflow==1.11.0 in requirements.txt), the following error occurs:

[code]

Is there a workaround?

Thank you.

[2018-11-07 15:38] Rye6 commented on #51
Try the hint message at the end of your error log:

`Use the --build-native-deps option to try building the binary dependencies using a Docker container.`

I was able to successfully deploy a TensorFlow solution with this approach.

[2018-11-07 18:00] plaurent commented on #51
Indeed, that worked here too.  Thank you.

[2018-11-07 18:00] #51 closed

[2018-11-10 01:13] asavaritayal commented on #19
The ask here is to support a separate version of Python i.e. the Anaconda distribution as an OOB option on Functions on Linux.

[2018-11-13 15:07] GuyHarwood commented on #35
i have this exact same problem.

all of the 20+ tutorials for functions in a container show the absolute basics - using a HTTP trigger, which doesn't require bindings.

We use queue and table storage bindings, so before we run `func host start` we need to call `func extensions install` to install the correct .net core libraries into the local bin folder.

The problem is that the main image `mcr.mi

[2018-11-14 00:27] asavaritayal opened #53 "Install the Python language worker and related dependencies in the base image"
In Azure, we want to use a version of the language worker installed in the base image that we can update and maintain on behalf of the user.

/cc @ahmelsayed

[2018-11-14 00:49] ahmelsayed commented on #35
The correct entrypoint is `dotnet /azure-functions-host/Microsoft.Azure.WebJobs.Script.WebHost.dll` or `run-host.sh` as in the `base` image.

You **don't** want to run the runtime through the CLI production. The CLI turns off authentication and enables debug mode by default for local development. You probably don't want either of these things in Prod.

Installing extensions currently requires dotn

[2018-11-14 09:04] GuyHarwood commented on #35
Thanks for the info @ahmelsayed

Sounds like it may be best to do the build outside of the container.

Either way, canonical documentation / guidance would be good for this, as i could not find anything that covers this as of Nov 2018.

[2018-11-14 11:48] GuyHarwood commented on #35
@ahmelsayed using your example docker file above (thank you), we came up with this...

[code]

that way we discard of the intermediary container used to install the bindings, and just use the stripped down 'official' image at runtime.

To run it i use `docker run -p 8080:80 -it mtc-functions`
which outputs...
[code]

when i navigate to `http://localhost:8080` i see the **Your Functions 2.0 app is

[2018-11-19 20:18] Morgma commented on #35
@GuyHarwood I apologize for not posting more of detail initially, but honestly, none of my attempts were satisfactory and I never found a soul on any blog or MS documentation that offered any improvement. One of my passes at this was similar to what you have above - I used the functions cli to installs the extensions on a build image, then took the output with extensions .dlls in tow and built a r

[2018-11-19 20:33] Morgma commented on #35
@GuyHarwood To answer your question specifically about the Authorization Level... you can't run anything other than "Anonymous" (maybe the upcoming "User" will work if you use AAD; making this an even more platform-specific solution). When Debugging in Visual Studio, it calls the Functions CLI and bypasses the authentication filter entirely, but the Docker runtime believes, for all intents and pur

[2018-11-19 20:33] #35 closed

[2018-11-29 18:29] ahmelsayed opened #55 "Change image layer order to minimize changes on each update"

[2018-12-08 00:09] asavaritayal opened #57 "Support Python 3.7"
We need a docker image to support Functions written using Python 3.7.

[2018-12-12 02:08] abailey7 opened #58 "Support .NET Core 2.2 SDK as Base Image"
Is there a timeline posted for migrating to 2.2-sdk as the base image(s)?

We would love to upgrade to .NET Core 2.2 across our platform, but we need parity across all of our images for library/package compatibility, etc.

Also, how does the azure-functions-dotnet-core2.0 naming convention fit in with the .NET Core SDK naming convention? Is 2.0 here referencing Azure Functions 2.0 or .NET Core SDK

[2018-12-17 21:00] asavaritayal opened #59 "Change default Python image to 3.7"
For the Seabreeze platform.

[2018-12-18 18:36] asavaritayal opened #60 "Docker image size comparison"
_From @priyaananthasankar on December 14, 2018 8:19_

I wrote a forecasting app and launched it in ACI using Python Functions on Container, through func core tools, this uses Blob binding and is triggered through HTTP

`func --init Docker` and compiled the docker image. The code for this is here:

https://github.com/priyaananthasankar/parseltongue/tree/master/PyFunctionsOnACI/ForecastingApp

I als

[2018-12-18 18:44] asavaritayal commented on #46
Adding link to the corresponding Python issue - https://github.com/Azure/azure-functions-docker/issues/14 and community discussion.

[2019-01-06 02:57] PureKrome commented on #58
Another +1 here !

YES! I was also going to be asking this same question.

I found these two images:
- [microsoft/azure-functions-dotnet-core2.0](https://hub.docker.com/r/microsoft/azure-functions-dotnet-core2.0)
- mcr.microsoft.com/azure-functions/dotnet

and wasn't sure of the differences between them, etc.

cc @ahamad-MS

[2019-01-07 18:52] asavaritayal commented on #53
1/7 : This is now done.

[2019-01-07 18:52] #53 closed

[2019-01-09 22:40] asavaritayal commented on #59
The issue is currently blocked on https://github.com/Azure/azure-functions-docker/issues/57

[2019-01-10 18:25] maiqbal11 opened #63 "Remove dependency on worker.py"
Currently, there is a dependency on `worker.py` being present in the Python worker. However, this would not necessarily be the case in the future e.g. running the language worker module directly. Running the worker process should rely on configuration rather than the presence of a particular file.

[2019-01-10 19:25] maiqbal11 opened #64 "Deployment Steps/Script for Linux/Seabreeze"
As we move closer to Python GA in June, there is a critical need to test Python scenarios directly on the Seabreeze Linux platform using our Docker container images. There are crucial development cases that require the use of Seabreeze specific testing:

1. Logging to Kusto/MDS/AI
2. Cold start perf testing/ profiling
3. Integration testing

The ask here is to have a set of steps for the following

[2019-01-23 00:28] #55 closed, assigned to nobody

[2019-02-07 01:17] grahamehorner opened #73 "documentation"
Please provide more information and/or documentation for reference deployments and how to use the docker images for no premises deployments/development

[2019-02-09 21:06] balag0 opened #74 "Create ssh enabled images for use in AppService"
The changes needed for .Net are
https://github.com/Azure/azure-functions-docker/commit/c6beee8c5a38bd3f1d44390a6bb6de72864f5d34

(For node we might need to launch the node process in debug mode additionally)

We will need to have separate ssh enabled images ( dotnet , node , python to begin with) to avoid security issue with having public username/password in the dockerfile. When used in appservic

[2019-02-11 08:03] daigotanaka commented on #37
@Rye6 I don't know if you figure out but I was successful by not hard-coding the driver version:
[code]

[2019-02-13 01:06] ahmelsayed commented on #74
a couple of questions Bala.

This debugger is just the dotnet debugger, correct? Is there a different configuration for node and python?

The bit about xdebug is only for php, right? so we don't have to do that since we don't have php image.

[2019-02-13 02:28] balag0 commented on #74
Correct. This is just for dotnet. Haven't investigated what debugger we need for python and node.cc @dariagrigoriu
For now it would be good to have the basic dockerfiles structure created for all languages and we can add the required debuggers into the right dockerfile whenever we identify them.

The idea is that even in appservice we won't always use the (debugger installed, ssh enabled) images a

[2019-02-15 00:51] #74 closed

[2019-02-20 23:35] sandorbihary opened #78 "func azure functionapp publish --build-native-deps fails with docker error"
Hi All!
I am tryting to publish a python function but I got an error message.
I used this command:
` func azure functionapp publish sanyifunction  --build-native-deps`

Environment is Centos7 and Python 3.6.7

This is the error message:

[code]

This is the requirements.txt

[code]

The code is running locally. Also I have to use the --build-native-deps otherwise I get this error message:

`There

[2019-02-20 23:38] ahmelsayed commented on #78
It seems to be an issue with dotnet in docker on CentOS specifically https://github.com/dotnet/dotnet-docker/issues/644 https://github.com/dotnet/dotnet-docker/issues/485. I haven't found any explanation as to why that's happening, but setting a `WORKDIR` in the docker file seems to be the fix..!! I guess will do that :)

[2019-02-21 10:59] eduardomourar opened #79 "Add python alpine image to public container registry"
This is probably related to #2. I have seen that we have a alpine Dockerfile for python, but this image is not being built and pushed to the registry.

Can this be added to the build pipeline, please? I have already been using since functions v2.0.12285 without any problem.

[2019-02-22 08:56] sandorbihary commented on #78
Sure, sounds good:) Will you update the container? So I only need to re-pull it?

[2019-02-26 17:08] pragnagopa opened #80 "Update runtime to 2.0.12332"
Runtime 2.0.12332 is rolling out: https://github.com/Azure/app-service-announcements/issues/159
This is tracking item to update docker images.

[2019-02-26 17:08] pragnagopa commented on #80
@ahmelsayed - Let me know what needs to be updated. I can send a PR.

[2019-03-05 19:11] pragnagopa commented on #80
Addressed in https://github.com/Azure/azure-functions-docker/commit/115937c795c6521dc42d87429b726262c500688d

[2019-03-05 19:11] #80 closed

[2019-03-06 15:27] ChristopherLClark opened #83 "Help me Understand the Functions Runtime and Pooling."
I did a pull of the azure functions base. the image size is a whopping 3.92 gb.
`mcr.microsoft.com/azure-functions/base                           latest               c1f034e6ab2e        1 hours ago          3.92GB`

I thought this might be the runtime, which means this is the image that actually manages the pooling of Functions, and orchestrates, shutting down, serving etc.

However it appears th

[2019-03-17 13:06] alizahid opened #84 "Using with Docker Compose"
Here's my `docker-compose.yml`;

[code]

Three questions;
1. Is the behavior around `AzureFunctionsJobHost__Logging__Console__IsEnabled` sorted yet? Is there a cleaner flag I can set to enable verbose'ish logging?
2. When I `docker-compose up`, my app cannot access the environment variables in `local.settings.json`. How can I get it to load variables from there?
3. This app always boots in product

[2019-03-18 18:43] paulbatum commented on #84
I think @ahmelsayed should be able to help with at least some of these.

[2019-03-18 19:11] ahmelsayed commented on #84
I think `AZURE_FUNCTIONS_ENVIRONMENT=Development` should encapsulate that, though @brettsam or @mathewc might know more.

`local.settings.json` is only used by the core-tools (a.k.a: the cli), not the actual runtime. You'll have to convert all the settings in `local.settings.json` to entries in your `environment` collection in the `docker-compose.yaml` file.

Try setting `AZURE_FUNCTIONS_ENVIRONME

[2019-03-18 19:43] brettsam commented on #84
`AzureFunctionsJobHost__Logging__Console__IsEnabled` is how .NET Configuration works ([see here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.2#conventions)) with environment variables so I don't think we have plans to change that. But @ahmelsayed is right that setting the environment to Development should attach the Console logger as well.

Note that

[2019-03-18 20:27] pjboardman opened #87 "__pycache__ creation causing restarts"
I'm deploying some python functions via a container hosted in an app service and am seeing continuous restarts due to the __pycache__ folder being created. Is there anyway I can prevent this?

#### Investigative information

Sample logs:

2019-03-18T18:39:07.318035873Z [40m[32minfo[39m[22m[49m: Host.Startup[0]
2019-03-18T18:39:07.318073774Z       Directory change of type 'Created' detected fo

[2019-03-18 20:49] alizahid commented on #84
@brettsam `AzureFunctionsJobHost__Logging__Console__IsEnabled` I got from https://github.com/Azure/azure-functions-host/issues/3469#issuecomment-429183447

My understanding is it's not the correct flag and should be fixed in Azure Functions Core Tools?

Regarding `local.settings.json`, I can't add them to my `docker-compose.yml`, because I have to commit that to git. Workarounds to load my config?

[2019-03-18 22:15] ahmelsayed commented on #84
You can convert `local.settings.json` to an `.env` file instead, and use `docker-compose` env_file support. I opened this https://github.com/Azure/azure-functions-core-tools/issues/1129 on the core-tools repo to think of how to smooth the integration.

[2019-03-18 22:31] ahmelsayed commented on #83
Sorry for the delay.

You shouldn't use `mcr.microsoft.com/azure-functions/base`. It's used as a build image and it contains dotnet build sdk, which is not needed for the runtime.

[code]

There are also alpine flavors of all the images, though we don't use them by default due to glibc issues with python, though it shouldn't matter if you're using dotnet.

[code]

[2019-03-19 10:02] alizahid commented on #84
So, here are the results.

---

Setting `AZURE_FUNCTIONS_ENVIRONMENT` to `Development` was a success!

---

@brettsam However, adding `logging.console.isEnabled = true` to my `host.json` still doesn't enable `console.log`.

---

@ahmelsayed Good tip on the `env_file` config. I have switched from `local.settings.json` to a `.env` file. It's cleaner for my setup with tests, too, instead of keeping t

[2019-03-19 17:48] maxmalov opened #88 "Provide Node.js 10 worker runtime"
The docs on docker hub say that `azure-functions/node:2.0` has node 10 worker runtime
![image](https://user-images.githubusercontent.com/284129/54629010-de852000-4aa0-11e9-850c-0bbbbaa766f0.png)
but it is node 8 actually according to the docker file https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/node.Dockerfile#L8

[2019-03-22 17:52] ahmelsayed opened #89 "Remove extra platforms runtimes from powershell worker."
see https://github.com/Azure/azure-functions-core-tools/issues/1141 for details

[2019-03-22 23:44] ahmelsayed opened #90 "Create a core-tools tag image"

[2019-03-27 01:41] #89 closed

[2019-04-09 18:42] endersonmenezes commented on #37
This worked for me
https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-2017#microsoft-odbc-driver-131-for-sql-server

[2019-04-09 18:43] endersonmenezes commented on #37
This worked for me
https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-2017#microsoft-odbc-driver-131-for-sql-server

[2019-04-13 07:33] priyaananthasankar opened #96 "Alpine Docker Image to support ML library packages"
There are some base alpine packages that need to be installed in Alpine docker images like openblas-dev, gcc, freetype-dev, lipbpng-dev that are essential for ML libraries like numpy, scipy and pandas to compile when a pip install is performed.

Additionally numpy can be pre-installed as it is a scipy dependency. This could be done in another dockerfile, but would be good to have as a base.

At th

[2019-04-15 12:55] alizahid commented on #84
Also noticed that after running for a while, `azure-functions-docker` freezes Docker. I have to restart Docker to get my stuff back. `docker ps` or any Docker commands stop working.

How can I help you diagnose this?

[2019-04-24 11:19] trijimonpr commented on #78
@ahmelsayed I am still seeing this issue when I try to publish a function app using --build-native-apps option. I am using func binary of version 2.6.666 in centos 7.2.1511. Is there a workaround or a way to deploy from centos? Thanks!

**Command:**
`CLI_DEBUG=1  func azure functionapp publish python-sample-app --build-native-deps`

**Log:**
`Azure.Functions.Cli.Common.CliException: Error running

[2019-04-29 14:32] tomhosking opened #99 "Enabling CORS for local development"
I am able to enable CORS for local development using a `local.settings.json` file and running the project from Visual Studio. However, the docker image uses the runtime to host the project, which ignores `local.settings.json`.

Is there an environment variable that I can set instead to make the runtime use CORS? Or is there another approach I should use?

[2019-04-30 06:40] xiacijie opened #100 "No gcc for mcr.microsoft.com/azure-functions/python:2.0 image"
When it is executing pip install -r requirements.txt and comes to regex,
the error shows up.

`gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -fPIC -I/usr/local/include/python3.6m -c regex_3/_regex.c -o build/temp.linux-x86_64-3.6/regex_3/_regex.o unable to execute 'gcc': No such file or directory error: command 'gcc' failed with exit status 1`

**My Docker file**
[co

[2019-04-30 12:59] tomhosking commented on #100
I think a whole bunch of build utilities were removed in cd1c45d5d9d81214483500f7a50560f9a9cd4ade - I had to reinstall them manually with something like `RUN apt-get update -y && apt-get install -y [...]`

[2019-04-30 16:39] xiacijie commented on #100
@tomhosking Solved! Thank you!

[2019-04-30 16:39] #100 closed

[2019-05-10 15:47] jeffhollan commented on #99
@ahmelsayed I suspect you helped enable this for the core tools when running local. Any idea what would be required to enable this in the docker scenarios?

[2019-05-12 23:08] asavaritayal opened #103 "Install libxcb in the base Python image"
Opening issue to gauge traction. The current recommendation is to work around the limitation using a custom image on Linux.

[2019-05-13 12:11] asavaritayal opened #104 "Install libgthread to the Python base image"
Opening issue to gauge traction. The current recommendation is to work around the limitation using a custom image on Linux.

[2019-05-18 09:48] dalestone commented on #99
I also encountered this issue from my docker container and I've tried proxies.json but no luck, the only thing that seemed to work was actually modifying the request but this isn't a good solution as it would require all your functions to call a method to set the headers

[code]

[2019-05-23 21:28] ahmelsayed commented on #46
we're not doing this

[2019-05-23 21:28] #46 closed

[2019-05-23 21:28] ahmelsayed commented on #14
We're not doing this

[2019-05-23 21:28] #14 closed

[2019-05-28 04:08] prashanthmadi commented on #19
heard that we do not support wheels during pip install with/without new oryx thing.. having conda might help or adding support for pip(+wheels) might make the whole build and packaging system better.

[2019-05-31 15:36] DustinKingen opened #109 "[Windows] Support .NET Core 2.2 SDK as Base Image"
I noticed #58 was closed as completed but the PR #65 didn't modify any of the Windows Containers.

We ended up building our own images based on the 2.2 SDK.

[code]

[2019-06-03 22:21] prashanthmadi commented on #19
@asavaritayal I don't think most of the customers that use python functions would know about docker and i have personally seen many enterprise customers not even be able to install docker on their local machines due to hyper-v (blocked as security limitation in many companies)..

I would be happy to start a new thread on providing wheel support if required..

 I'm looking for something as in below

[2019-06-03 22:27] prashanthmadi commented on #19
Looks like this is being already discussed in below
https://github.com/Azure/azure-functions-python-worker/issues/432

[2019-06-04 09:37] liron-navon opened #110 "Docker image node:2.0 fails to build on azure pipelines"
I get this error:

[code]

[2019-06-06 17:57] ahmelsayed commented on #110
That's a really odd error. I'm not sure why it would be trying to install these packages. Are these installed during your `yarn build` step? or does this happen before

[2019-06-07 13:16] sjwaight commented on #110
I'm also seeing a problem building a custom Python worker containing FFMPEG. Perhaps there's an issue with the functions-base image? I've tried this build and a previous build installing bedtools (which used to work).

`The command '/bin/sh -c apt-get update &&     apt-get install -y wget &&     echo 'debconf debconf/frontend select Noninteractive' | debconf-set-selections &&     apt-get update &&

[2019-06-15 09:46] vutrungnghia08101999 commented on #51
Could you show me How to do that?

[2019-06-24 15:26] lhuk-futurice commented on #88
Agreed. Need this. Opened PR #116 for this.

[2019-06-25 16:11] richardjharding opened #118 "Alpine non root user"
I'm using the Alpine dotnet images and our vulnerability checking tool (Twistlock) is picking up a few out of date packages which I think I can fix but one issue is its suggesting that the image should be created with a non root user
Is any work underway to support this?
I'm able to get an asp.net core app on say ```mcr.microsoft.com/dotnet/core/runtime-deps:2.2.4-alpine3.9 ``` to run as non root

[2019-06-26 07:50] richardjharding commented on #118
Ok so this looks like an issue trying to bind to a port less than 1024 and is expected
The only way I could see to specify an alternative port for the host to listen on was to set the following env var
```ENV ASPNETCORE_URLS='http://+:5000'```
Is there an alternative settings file that would also work?

[2019-07-07 17:01] prashanthmadi commented on #19
Any update on this ?

[2019-07-13 01:28] horihiro commented on #88
According to [this](https://nodejs.org/en/about/releases/), Node8 is already Maintenance LTS since2019-01-01, not Active LTS.
I hope that the PR #116 is merged as soon as possible.

[2019-08-02 13:11] dewanymca opened #128 "No job functions found. Try making your job classes and methods public. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Timers, etc.) make sure you've called the registration method for the extension(s) in your startup code (e.g. builder.AddAzureStorage(), builder.AddServiceBus(), builder.AddTimers(), etc.)."
Created a Service Topic Trigger function v2 using .net core and test it locally. Everything is working locally. Tried publishing the images locally on docker and run it , getting below error:

[2019-08-05 08:08] dewanymca commented on #128
Can somebody help me?

[2019-08-19 12:50] guojian83 opened #131 "Dockerfile is not generated for powershell worker runtime"
The dockerfile is missing for powershell runtime
[code]

Regards,
Jian

[2019-08-19 12:58] guojian83 commented on #131
Will the following Dockerfile do the work?

[code]

It seems to be working when i tested it.

I can quickly do it in a PR if it looks ok.

Regards,
Jian

[2019-08-19 23:50] guojian83 commented on #131
Sorry wrong repo.

[2019-08-19 23:50] #131 closed

[2019-09-05 03:44] worldspawn opened #134 "Function execution logs"
I have an sub-orchestration calling a sub-orchestration that calls another orchestration over http. At the top sub orchestration I am getting an error:

[code]

Despite covering the entirety of RunRemoteOrchestration in a try catch that logs any exception I am never getting any errors logged from it. I would live to know where additional details are stored `See the function execution logs for addi

[2019-09-05 03:47] worldspawn commented on #134
Heres RunRemoteOrchestration. I *never* get a log entry from the catch in there.

[code]

Also theres no errors reported from the function it is supposed to be calling.

[2019-09-05 06:25] worldspawn commented on #134
So, aside my logging difficulties I figured out what my issue was. I have the function instance this function instance calls into behind a kubernetes service (a load balancer) so the the returned code wasn't necessarily the correct code on the instance it would hit on next cycle.

I ran through the guidance here: https://github.com/Azure/azure-functions-host/issues/4147#issuecomment-477431016

Opt

[2019-09-05 06:25] #134 closed

[2019-09-11 18:18] spitfiredd opened #136 "Error installing pyodbc to the azure docker image"
When I try to build a docker image with sqlalchemy + engine drivers I am getting when I try to install pyodbc.

[code]

[2019-09-11 21:32] spitfiredd commented on #136
I updated the docker `RUN` command to add gcc and also the headers files for pyodbc.

[code]

[2019-09-18 16:26] kitingChris opened #137 "Please update your Documentation"
I was now searching for DAYS how to set the azure functions in docker to NOT Production.
It would be great if you could document the environment variables available to be used in docker to adjust the azure-functions runtime.

https://stackoverflow.com/questions/56283270/hosting-environment-why-is-it-set-to-production-difference-between-host-json-an
[code]

[2019-09-22 22:14] ankitkumarr opened #138 "Change python packages path to not have 3.6"
Right now, we expect custom packages to be at `.python_packages/lib/python3.6/site-packages` location. We had it this way as we used to create a virtualenv before, which needed the packages to be there.
Later, we went away from virtualenv but left the path to be in that format. Now that we want to support multiple versions of Python, we should get rid of `/python3.6` and just change it to `.python

[2019-09-25 19:46] owenneil commented on #118
I tried the same thing, I was able to get a little further. I added this:
RUN apk add --no-cache libcap

and

RUN setcap 'cap_net_bind_service=+ep' /azure-functions-host/Microsoft.Azure.WebJobs.Script.WebHost

Unfortunately, now I get "Unhandled Exception: System.InvalidOperationException: Host.DestinationHostUrl must be specified either as an environment variable or as a command-line switch." I'm

[2019-09-26 21:16] Hazhzeng opened #139 "Build KuduLite image to support python 3.7 remote build"
Create Kudu-2.4 to support python 3.7 remote build
which reads FRAMEWORK and FRAMEWORK_VERSION and choose the correct framework to construct the oryx build command

[2019-10-01 09:58] PremaPrems opened #141 "Azure function not running after taking updated image"
1.After taking update image of azurefunction am getting azure function not running error.
2.If i want to run my jar at system startup in azure docker container what i need to do.
3.When am adding custom script to start my jar.azure function is not running.Give me how t do it

[2019-10-03 19:42] ahmelsayed commented on #88
This was added in #142
There are 3 images/Dockerfiles now, [`node8.Dockerfile`](https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/node8.Dockerfile), [`node10.Dockerfile`](https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/node10.Dockerfile), [`node12.Dockerfile`](https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/st

[2019-10-03 19:42] #88 closed

[2019-10-13 04:21] alwaysharsha opened #147 "Powershell shell missing in the container mcr.microsoft.com/azure-functions/powershell:2.0"
#### What language does your question apply to? Powershell

#### Question
In the docker image **mcr.microsoft.com/azure-functions/powershell:2.0** There is no powershell pre-installed due to which the powershell scripts aren't running.

CMD > **docker run -it mcr.microsoft.com/azure-functions/powershell:2.0  pwsh**
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon

[2019-10-13 04:38] ahmelsayed opened #148 "Set default paths for runtime in containers"
This is for setting

[code]

to some default values in all images.

[2019-10-14 02:07] mohsinonxrm opened #149 "QueueTrigger question"
I'm trying to run a simple queue trigger in a docker container on Raspberry Pi 4B:
`using System;
using Microsoft.Azure.WebJobs;
using Microsoft.Azure.WebJobs.Host;
using Microsoft.Extensions.Logging;

namespace queuetrigger
{
    public static class queuetrigger
    {
        [FunctionName("queuetrigger")]
        public static void Run([QueueTrigger("myqueue-items", Connection = "")]string myQue

[2019-10-14 20:43] mhumpher opened #162 "413 Request Entity Too Large"
I have a Python function app that I'm trying to send a POST call to with about 2MB from a text file. Testing locally works fine, but when I publish to Azure I get this error:

[code]

I start receiving this error when the POST size gets above about 200KB. I've tried Postman and curl to send the request, but I always get the same error.

[2019-10-15 14:12] abelal83 opened #150 "dotnet core function does not run"
We have a working Azure function app running succesfully in Azure however, we are trying to migrate it into docker and have come across a massive problem with it.

The function app works fine locally in Visual Studio as well as in Azure function app. When we create a dockerised version it simply doesn't work. The only output we get is this

[code]

When accessing http://localhost function app runt

[2019-10-15 20:49] Hazhzeng commented on #139
**mcr.microsoft.com/azure-functions/kudulite:kudu-2.5** has supported remote build for Python 3.7

[2019-10-15 20:49] #139 closed

[2019-10-15 20:49] Hazhzeng commented on #138
We decided to have
**.python_packages/lib/python3.6/site-packages** for python3.6
and
**.python_packages/lib/site-packages** for future python versions

[2019-10-15 20:49] #138 closed

[2019-10-16 21:06] ahmelsayed commented on #149
We don't maintain arm32 images.

[2019-10-16 21:06] #149 closed

[2019-10-17 00:00] rhwilburn commented on #128
I have same issue with Node version of the docker container.

I have the following files in the /home/site/wwwroot:

host.json
lendingApplication/function.json
lendingApplication/lendingApplication.js

As with original post doing func start, works a charm (ie testing locally). The docker container shows the proper default webpage on localhost but the api url doesn't show response or webpage etc. I

[2019-10-17 03:00] rhwilburn commented on #128
I fixed my issue, my DockerFile ended up as:

`FROM mcr.microsoft.com/azure-functions/node:latest
ENV AzureWebJobsScriptRoot=/home/site/wwwroot
ENV AzureFunctionsJobHost__Logging__Console__IsEnabled=true

EXPOSE 80

# Create app directory
#WORKDIR /usr/src/app

# use changes to package.json to force Docker not to use the cache
# when we change our application's nodejs dependencies:
ADD package.jso

[2019-10-19 17:31] robinmanuelthiel opened #159 "Latest 2.0 tag is outdated"
When using `mcr.microsoft.com/azure-functions/dotnet:2.0`, the actual runtime version is `2.0.12180` instead of the latest one. When starting this image, the following output appears:

[code]

When using `mcr.microsoft.com/azure-functions/dotnet:2.0.12673`, the runtime version is correct and even newer (`2.0.12673.0`).

[code]

**So the `2.0` tag is very outdated.**

According to the [documentatio

[2019-10-24 20:32] soninaren commented on #162
@mhumpher Looks like this is an issue web server configuration.

[2019-10-24 23:15] saundersmatt commented on #162
I'm also seeing this error when posting files to a python function around 2MB.
Seems that nginx config has probably got the setting client_max_body_size 2M;
C# on windows limits to 100MB

[2019-10-24 23:16] soninaren commented on #162
We are updating the config to to match what is set on function runtime. Should most likely go out in the next release.

[2019-10-25 17:58] mhumpher commented on #162
@soninaren Thanks! Is there a timeline for the next release?

[2019-10-25 17:59] anirudhgarg commented on #162
It should be a maximum of 2 weeks if not earlier

[2019-11-01 11:17] ben-said commented on #162
Hi, I've also got the same issue - until the fix comes out, is there any way for us to updated the client_max_body_size manually for an nginx set-up?

[2019-11-01 17:29] ahmelsayed commented on #162
@ben-said unfortunately it's not something you can do yourself.
The update is rolling out now however.  It's already deployed in the South East Asia region, and other regions are in the deployment queue.

[2019-11-01 18:32] ahmelsayed commented on #159
The process for releasing the Windows bits (not a container) and docker containers for linux is not ideal today. We miss the updates on the linux side frequently, mainly because Windows release starts first and is sometimes retaken multiple times to address issues that pop up, and when that happens sometimes the release for linux falls off the radar of the person doing the release. I've updated th

[2019-11-01 18:32] #159 closed

[2019-11-04 16:52] ahmelsayed commented on #162
This should be addressed now.

[2019-11-04 16:52] #162 closed

[2019-11-04 18:20] ahmelsayed commented on #104
Added

[2019-11-04 18:20] #104 closed

[2019-12-07 22:45] Pamir opened #184 "azure functions 3 java runtime"
Hi,
Building the docker image for azure java functions runtime 3 generates the error below

https://github.com/Azure/azure-functions-docker/blob/master/host/3.0/buster/amd64/java8.Dockerfile

Sending build context to Docker daemon  111.6kB
Step 1/12 : ARG BASE_IMAGE
Step 2/12 : FROM ${BASE_IMAGE} as runtime-image
base name (${BASE_IMAGE}) should not be blank

[2019-12-07 22:49] Pamir opened #185 "azure functions 2 java runtime failed to build image"
Hi,
on macos building the image from the file below generates an error due to missing folder in mcr.microsoft.com/azure-functions/base:2.0-alpine

https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/alpine/amd64/java.Dockerfile

Sending build context to Docker daemon  111.6kB
Step 1/13 : ARG BASE_IMAGE=mcr.microsoft.com/azure-functions/base:2.0-alpine
Step 2/13 : FROM ${BASE_IMAGE

[2019-12-08 10:20] Pamir commented on #185
Hi,
I think i have fond the solution. First of all we should build the base image  which is https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/alpine/amd64/base.Dockerfile

docker build . -f AzureBase.dockerfile -t mcr.microsoft.com/azure-functions/base:2.0-alpine
After building the image with approproate tag without pushing to docker registry we should build the java docker file

[2019-12-13 15:14] vnom2112 commented on #84
@alizahid Not sure if you are still looking for an answer to this. However, try setting env variable `CONSOLE_LOGGING_DISABLED` to 'false' in your docker-compose environment listing to enabled logging to console.  This worked for the dotnet version of the docker image.

[2019-12-13 16:45] vnom2112 opened #187 "Provide a way to set "CORS allowed origins""
I am trying to use the dotnet docker image to run e2e tests in a CI/CD pipeline.  I have a container that run the function app, and another that run the angular app with the e2e tests.  I use docker compose to run them.  The problem I am running into is I cannot set the CORS allowed origin to '*' to run my e2e tests from headless chrome.  In my docker-compose file I tried setting the env variable

[2020-01-03 16:05] jlk opened #198 "Broken links on DH README"
Guys - just noticed on https://hub.docker.com/_/microsoft-azure-functions-base a good number of the links to Dockerfiles for the various images (under Featured Tags) are broken. eg https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/powershell.Dockerfile should point to https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/stretch/amd64/powershell6.Doc

[2020-01-20 22:30] kvaes commented on #187
Linked to https://github.com/Azure/azure-functions-host/issues/5090 ?

[2020-02-19 13:50] pastushenkoy opened #217 "Microsoft.Azure.WebJobs.Extensions.Storage Could not load type 'Microsoft.Azure.WebJobs.Host.Scale.IScaleMonitorProvider'"
Please provide a succinct description of the issue.

Version `3.0.10` of package `Microsoft.Azure.WebJobs.Extensions.Storage`
breaks function runtime.

#### Repro steps

I'm using functions in `mcr.microsoft.com/azure-functions/dotnet:2.0-alpine` container. It worked fine until I updated `Microsoft.Azure.WebJobs.Extensions.Storage` to version `3.0.10`. I checked previous versions of this library a

[2020-02-19 15:56] pastushenkoy opened #216 "New dotnet:2.0 image breaks Startup.cs"
I've got an Azure functions project in production. It was deployed under `mcr.microsoft.com/azure-functions/dotnet:2.0`. I use MS DI and Startup.cs. It worked fine until 10th of December.

On that date I redeployed my functions and it occured that Startup.cs class isn't used anymore. Every function trying to start throws error like
[code]

This error is only thrown when I use regular `dotnet:2.0`

[2020-02-19 20:55] pastushenkoy commented on #217
I would be glad to use it and I even used to. But the problem described here tore us apart. (
Seems like this issue should be closed, but I still got one question: alpine container is deprecated and will not be updated anymore?

[2020-02-20 08:23] Rickaro opened #218 "Unhandled async expection not logged during startup"
### Envirounment

OS:**Linux**
Language: **Javascript**
Azure Function Core Tools: **2.7.2100**
Function Runtime Version: **2.0.12961.0**
Base docker image:
mcr.microsoft.com/azure-functions/node             **2.0                 1460b85a9170**

Issue: if function code throws async exception, that was not handled, container terminates, without any log information about error.

### How to reproduce

[2020-03-19 06:29] shizn opened #224 "Arm64 base image"
Any plan to have official arm64 base images? Scenario: Run Azure Functions container on Azure IoT Edge arm64 Linux devices.

[2020-03-25 13:38] blackchoey opened #226 "linux-arm32v7 and windows-amd64 tags not available for dotnet core 3.0"
From [Readme](https://github.com/Azure/azure-functions-docker/blob/master/README.md), there is linux-arm32v7 and windows-amd64 tags for dotnet core 3.0. However the tags `3.0-arm32v7` and `3.0-nanoserver-1809` listed in readme is not available. Can you share the latest dotnet 3.0 tags for linux arm32v7 and windows?

[2020-03-26 22:12] rasavant-ms commented on #226
I do not see any 3.0 image tags on docker hub - https://hub.docker.com/_/microsoft-azure-functions-base

[2020-03-27 02:59] blackchoey commented on #226
@rasavant-ms I found the tags in this repo's [readme](https://github.com/Azure/azure-functions-docker/blob/master/README.md).

[2020-03-27 03:00] blackchoey commented on #226
Does it mean .net core 3.0 images are not general available yet if there's no 3.0 tags in https://hub.docker.com/_/microsoft-azure-functions-base ?

[2020-04-05 22:23] adampiskorski commented on #84
I am also quite interested in this, but ideally, I would like an environment flag that overrides all authLevels to Anonymous, which I can use in local development.

[2020-04-06 06:17] AayushiKhandelwal123 commented on #185
@Pamir, were you able to create  running docker image for function app in java

[2020-04-10 15:51] pplavetzki opened #232 "None of the 3.X Slim tags are valid"
# Problem
I received this error when running pull command:
[code]
# Steps to Reproduce
Run any of the below commands:
[code]

# Expected Behavior
Image successfully downloads.

[2020-04-20 11:40] avaneerd commented on #226
I think the build for nanoserver images are failing.
This PR should fix that but is not finished yet: #235

@ahmelsayed what is the status on this PR?

[2020-04-20 19:04] adusumillipraveen opened #236 "Images size is too high"
I was trying to use the base images from here to run Azure functions in AKS as per https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda. But, the image size is too big for a container to run in AKS and  not within the usual Microsoft recommended size (usually 500 MB) . Can the images be optimised/ minimised to have smaller size production suitable images?

[code]

[2020-04-24 01:45] espray commented on #84
@alizahid you get this working? I am trying to get this setup for my dev team as well.

[2020-04-24 03:57] alizahid commented on #84
@espray Sorry, I've since moved on to another project. Not sure what the status of this is anymore.

[2020-04-27 21:47] TsuyoshiUshio opened #238 "Update Container image to mcr.microsoft.com/azure-functions/java:3.0-java8-build"
This issue is related Pull Request #237 .

In the PR, it uses the base image `mcr.microsoft.com/java/maven:8-zulu-debian9` However, we should use `mcr.microsoft.com/azure-functions/java:3.0-java8-build` instead.

We are going to create a Dockerfile for the `mcr.microsoft.com/azure-functions/java:3.0-java8-build`, however currently it is just a tag. The reason we use the `maven:8-zulu-debian9` is w

[2020-04-30 13:56] metoule opened #240 "Linux docker image ignores Azure Startup Command setting"
On an Linux Azure web app (not Azure function), it's possible to customize the startup script with the `Startup command` setting (configuration blade):

![image](https://user-images.githubusercontent.com/24547430/80718673-bcaaf900-8afa-11ea-9acf-3e4c80ec1ac2.png)

That script is then called by the Linux web app docker file:

https://github.com/Azure-App-Service/ImageBuilder/blob/master/GenerateDoc

[2020-05-07 07:36] mail2hjain commented on #226
PR seems to be merged. However, I still don't see the "3.0-nanoserver-1809" tag / image on Docker hub.

[2020-05-08 16:02] fksik opened #246 "Unable to start 3.0-bionic-arm32v7 image"
The image 3.0-bionic-arm32v7 is not starting.
I am getting this error

standard_init_linux.go:211: exec user process caused "exec format error"

My docker file is as follows

FROM mcr.microsoft.com/azure-functions/dotnet:3.0-bionic-arm32v7
COPY ./ /home/site/wwwroot

[2020-05-10 15:09] SimoneCusimano commented on #185
any news?

[2020-05-10 15:12] Pamir commented on #185
Just give me couple of days. I will try again and let you know

[2020-05-13 10:31] carlwoodhouse opened #254 "Http triggers and ssl"
Hi,

Might have missed it but i can't seem to find a way or any documentation on how i can use ssl with a http trigger running in a functions docker container.

Anyone know?

[2020-05-13 11:34] carlwoodhouse commented on #254
Ok closing this ... you just need to configure it in the exact same way you configure kestrel for aspnetcore :)

[2020-05-13 11:34] #254 closed

[2020-05-14 05:47] TsuyoshiUshio opened #261 "docker build warining with RUNREADYTORUNCOMPILER : warning : Could not load type 'Microsoft.AspNetCore.Mvc.Internal.HttpMethodActionConstraint' from assembly"
When I build the Dockerfiles (e.g. Java8.Dockerfile, Node10.Dockerfile...), I found these warnings.
It is caused from `dotnet publish`.  It is warning so I might not need to care about it and build success. However, I just leave this issue not to forget it.

[code]

## Reference
CI Log
https://azure-functions.visualstudio.com/1ffbb012-06b1-457f-8964-377741df0976/_apis/build/builds/1565/logs/7

[2020-05-20 06:22] mail2hjain opened #265 "Nanoserver images for azure function V3 not available"
While pulling the docker image for azure function V3 for nanoserver-1809, it is failing with below error:

Error response from daemon: manifest for mcr.microsoft.com/azure-functions/dotnet:3.0-nanoserver-1809 not found: manifest unknown: manifest tagged by "3.0-nanoserver-1809" is not found

[2020-05-28 23:43] thrixton opened #269 "Dependency injection via Microsoft.Azure.Functions.Extensions.DependencyInjection.FunctionsStartup and IFunctionsHostBuilder"
In Azure functions, Dependency injection is supported per [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection) article.
Is this supported in KEDA using azure-functions-docker?

[2020-05-29 01:15] thrixton opened #271 "Alpine support"
Is it possible to support alpine images?
Especially for .net, .4GB, even from `slim` base is massive.
`mcr.microsoft.com/azure-functions/dotnet:3.0.13614` is 482MB, `mcr.microsoft.com/azure-functions/dotnet:2.0-alpine` is 219MB.
`mcr.microsoft.com/azure-functions/dotnet:3.0-slim` is 396MB

[2020-06-01 13:42] sagunase opened #273 "How to enable authorization for Azure Function[HttpTrigger] as module in IoT Edge?"
I am using HttptTrigger Azure Function as module in IoT edge device and can be accessed only within the private network, w.r.t, I want to build Authorization for Httptrigger endpoint.
Looking for the best practice to securely access the endpoint and also can you please share sample docs.

[2020-06-02 07:31] thrixton commented on #269
Never mind, yes it it.

[2020-06-02 07:31] #269 closed

[2020-06-04 21:07] epomatti opened #277 "Azure Function base images type differences"
What is the difference of each of these images? Also, can we have that added to the `readme` file as a quick reference guide for us developers?

### Image types

- (default)
- slim
- appservice
- buildenv
- core-tools

### Python example

[code]

[2020-06-07 04:37] heng-liu opened #280 "Tried to run Azure function project targeting netcoreapp5.0, but failed"
I tried the following steps in order to run an Azure function project targeting netcoreapp5.0, but failed.
May I know if there is any way to run Azure function project targeting netcoreapp5.0? Thanks!

1 Run `func init TestProject2 --worker-runtime dotnet --docker`,
,create a function app project in a folder named VerifyProject (queue trigger)

2.Go to TestProject2 folder, run `func new --name Htt

[2020-06-07 21:11] heng-liu commented on #280
BTW, I tried `<AzureFunctionsVersion>v3</AzureFunctionsVersion>` as well. It doesn't work either.

[2020-06-08 11:24] piizei commented on #271
Alpine image would be great.
There are several open vulnerabilities on the slim image:

CVE-2019-18276 | High | bash
CVE-2019-9923 | High | tar
CVE-2018-6829 | High | libgcrypt20
CVE-2016-2781 | Medium | coreutils
CVE-2019-13627 | Medium | libgcrypt20
CVE-2019-12904 | Medium | libgcrypt20
CVE-2020-3810 | Medium | apt
CVE-2018-1000654 | Medium | libtasn1-6
DSA-4685-1 | Medium | apt
CVE-2019-1551 |

[2020-06-11 21:23] yubozhao opened #281 "azure-functions package is using 1.0.8 version instead of the latest 1.2.1"
I am using the base image `mcr.microsoft.com/azure-functions/python:3.0-python3.7` to deploy a wsgi based application to Azure function with the `WsgiMiddleware` that's available in version 1.1.0 from PR https://github.com/Azure/azure-functions-python-library/pull/45.

In my local testing, it errors out with `WsgiMiddleware` not found.  After investigating, the azure function is using the package

[2020-06-11 23:55] Hazhzeng commented on #281
Thanks @yubozhao for raising this issue, we've just updated the python docker image half an hour ago. Please try again with mcr.microsoft.com/azure-functions/python:3.0-python3.7, it should include WsgiMiddleware now.

[2020-06-12 01:18] yubozhao commented on #281
Thanks for updating, @Hazhzeng!

I checked out that image.  For `/azure-functions-host/..../3.6` and `3.8` both are updated to azure-functions 1.2.1, while the `3.7 is on azure functions version `1.1.1`.  Is there version issue with python 3.7?

[2020-06-12 19:38] #217 closed

[2020-06-12 19:38] #216 closed

[2020-06-16 17:43] Hazhzeng commented on #281
@yubozhao,we currently run into an issue and we need to roll back the image `mcr.microsoft.com/azure-functions/python:3.0-python3.7`.

Meanwhile, please use `mcr.microsoft.com/azure-functions/python:3.0.13901-python3.7` instead. For a list of usable image tags in Python custom containers, please check https://mcr.microsoft.com/v2/azure-functions/python/tags/list.

Sorry for your inconvenience.

[2020-06-16 17:46] yubozhao commented on #281
@Hazhzeng Ok. Thank you for the notice.  Can we reopen this issue, so we can track it better?

[2020-06-17 06:17] yubozhao commented on #24
The console log is still missing for the python docker image, when the envvar `AzureFunctionsJobHost__Logging__Console__IsEnabled` is set to true.

I am using docker image base: mcr.microsoft.com/azure-functions/python:3.0.13901-python3.7.

[2020-06-17 11:48] gsaiz commented on #281
I am deploying a function app using a basic function plan, created using:
`az functionapp plan create -n BasicPlan --sku B1 --is-linux`
`az functionapp create --name functions-api-test --plan BasicPlan --functions-version 3 --runtime python --runtime-version 3.8 --os-type Linux`

And get the same error:
[code]

I was unable to locate the `/azure-functions-host..../azure directory` that @yubozhao m

[2020-06-17 21:07] yubozhao commented on #281
@gsaiz Can you check the docker image and see what base docker image it is pulling from?

For base docker image, mcr.microsoft.com/azure-functions/python:3.0-python3.7, it should be there. You can see the docker image source, it is copying into the directory:

https://github.com/Azure/azure-functions-docker/blob/8b1d5425792a06cfcdafa5459224341cf6dfc27f/host/3.0/buster/amd64/python/python37/python3

[2020-06-18 09:43] gsaiz commented on #281
I am trying to run the Flask Hello World example locally as an Azure Function in a Docker container, [following this guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?pivots=programming-language-python&tabs=bash%2Cportal).

This is my function's `__init__.py`:
[code]

If I run it with the Docker base image `mcr.microsoft.com/azure-functions/

[2020-06-19 05:12] yubozhao commented on #281
@gsaiz Can you try use the second way to define the flask server that mentioned in that PR?
[code]

[2020-06-19 08:25] agouriou opened #285 "[question] Azure function with windows container ?"
Hi,

I see on this repo some windows images, eg: 2.0-nanoserver-1809 for dotnet.

However, the documentation of azure function says it's only possible to run linux containers:
[https://docs.microsoft.com/fr-fr/azure/azure-functions/functions-deployment-technologies#docker-container](https://docs.microsoft.com/fr-fr/azure/azure-functions/functions-deployment-technologies#docker-container)

Is the d

[2020-06-22 11:01] gsaiz commented on #281
@yubozhao I can confirm that using this way to define the flask server works.

Moreover, I have succesfully deployed it without a dedicated Docker container. Now , when creating the function app with `az functionapp create --functions-version 3 --runtime python --runtime-version 3.7`, the default Runtime version is now 3.0.13901.0, like the Docker base image suggested above.

[2020-06-22 21:02] yubozhao commented on #281
@gsaiz glad it works for me.

For my use case, it is a little bit more complicated that I need to create new docker image that bases on top of the docker image provided by Azure Functions

[2020-07-02 07:13] tomasvantuch opened #291 "docker image is not loaded properly after being idle"
Hi,

I am currently running a small python based (flask) API to manage data from one SQL (azure resource) database (pyodbc library). All as a docker container, here is a script:

# Dockerfile - this is a comment. Delete me if you want.
FROM python:3.6
COPY . /app
WORKDIR /app

RUN curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -

#Download appropriate package for the OS versi

[2020-07-03 06:17] raswinraaj commented on #271
Have been expecting and waiting for an alpine image for azure functions 3.0 for a long time!

[2020-07-08 00:28] steveellis opened #294 "error NETSDK1045: The current .NET SDK does not support targeting .NET Core 3.1"
Getting this error when I run

[code]

following the instructions here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cportal&pivots=programming-language-csharp

Googling NETSDK1045 doesn't help much. Seems this error can happen in a lot of different situations. The docker build command is emitting the error. It's not my machine sinc

[2020-07-08 00:42] steveellis commented on #294
Ok yes, apparently just changing references from 3.0. to 3.1 makes the error go away.

[2020-07-08 00:49] steveellis commented on #294
Although now when I look at readme.md all of the versions listed are 3.0. Which version 3.0 of what? Should I be worried about this?

[2020-07-08 02:55] steveellis opened #297 "Skipping project because it was not found"
New to docker with .net core... Trying to get an existing function project to use a custom linux image on docker. Running

[code]

I get

[code]

It's looking for child projects and can't see them even though they are linked in the project file and on the same level as the function project file.

My dockerfile looks like this:

[code]

Which was generated by

[code]
My sense is that I need some ad

[2020-07-08 13:29] #297 closed

[2020-07-08 13:33] steveellis commented on #297
Solved this by moving the dockerfile one level up so that it's in the same path as my sub-projects. That way

[code]

Grabs all the files in the dockerfile path (what the period does) and copies them. Then I just had to change the path to ```publish``` like so:

```dotnet publish myfunctionprojectdir/myfunctionproject.csproj```

then msbuild sees everything it needs and restores everything.

[2020-07-08 14:19] steveellis commented on #294
Ok looks like the way to fix this is to change my TargetFramework to 3.0 like this:

[code]

[2020-07-08 14:19] #294 closed

[2020-07-11 11:17] Microshaoft opened #298 "how to deploy a FunctionApp into this azure-functions-docker, by using VS2019/VSCode/Command?"
how to deploy a FunctionApp into this  azure-functions-docker, by using VS2019/VSCode/Command?

[2020-07-11 15:29] tomasvantuch commented on #291
for those having the same problem, I found solution here: https://github.com/mkleehammer/pyodbc/issues/427

simply implemented re-init of db connection after it raises this exception...all seems working

[2020-07-11 15:29] #291 closed

[2020-07-15 07:15] anthonychu opened #299 "Install missing dependencies in Core Tools containers"
Ensure Core Tools containers have the same dependencies installed as the production containers. For example, Chrome headless deps in Node:

https://github.com/Azure/azure-functions-docker/blob/master/host/3.0/buster/amd64/node/node12/node12-appservice.Dockerfile#L34-L40

/cc @TsuyoshiUshio @ahmelsayed

[2020-08-06 03:43] TsuyoshiUshio opened #310 "Create Core-Tools image that has both Java11 and Java8"
VSCode Java extension stop supporting Java8. It requires Java11. However, a lot of customers are using it.
As the workaround, we can install both Java8 and Java11. Then customers still can use Java8.

However, updating current java8-core-tools images is not good idea for CI customers.

We discussed and decided to create a new image that has both Java8 and 11.
For more detail discussion, you can fi

[2020-08-08 05:47] justinyoo opened #313 "node for arm32v7"
Hi, Team.

I saw that .NET Core has arm32v7 image, but not for node. Do we have a plan to have that? If there's a workaround to make it on my end, would you please let me know the direction for it?

[2020-08-10 06:12] chriswill opened #315 "Linux container created on Windows produces CTP1009: An error occurred while attempting to download the Azure Functions CLI toolset"
Using Visual Studio 2009, I create a bare Function app, with an http trigger.

Once this is complete, I right-click the project and choose Add Docker Support.  I am running Linux docker containers on a Windows machine.

Pressing F5 to debug run the app, the container appears to build successfully.  I can also build it from the command line:
`Successfully built c9824aa43e49
Successfully tagged clou

[2020-08-26 21:29] ericis opened #323 "Docker development image with Azure CLI + functions tools"
Create a Docker development image with the Azure CLI and functions tools already installed.

Here's a non-working starter draft:

[code]

[2020-08-26 21:30] apawast commented on #323
@TsuyoshiUshio can you take a look at this?

[2020-08-30 00:36] karpikpl commented on #277
I came here looking for the same info - anyone from MS could help?
Maybe another way of getting this info is raising an issue for Microsoft docs...

[2020-08-30 01:47] epomatti commented on #277
I got the answer from my question that I posted in Stack Overflow. Still would be nice to have it on the docs.

https://stackoverflow.com/questions/62204187/azure-functions-base-images-differences-comparison

[2020-08-30 01:47] #277 closed

[2020-08-31 10:05] AdamCoulterOz opened #325 "PowerShell 3.0 Buster Base Image"
The `mcr.microsoft.com/azure-functions/powershell:3.0` image with the Dockerfile here (azure-functions-docker/host/3.0/**buster**/amd64/powershell/powershell6.Dockerfile) is built from a base of `mcr.microsoft.com/dotnet/core/aspnet:2.2` which is actually `debian-stretch` not `debian-buster` as indicated. This needs to be updated to have a base of `mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-s

[2020-08-31 10:05] AdamCoulterOz opened #326 "PowerShell 7 image"
All guidance is being given to use PowerShell 7, but currently you don't have an image available for PowerShell 7. Can you please advise?

[2020-08-31 11:02] AdamCoulterOz commented on #326
Hey @anthonychu can we get a hand with this?

[2020-08-31 11:04] AdamCoulterOz commented on #325
also this one if possible? @anthonychu

[2020-08-31 17:19] anthonychu commented on #325
@TsuyoshiUshio @AnatoliB Can you please take a look?

[2020-08-31 17:20] anthonychu commented on #326
@stefanushinardi

[2020-08-31 19:17] ahmelsayed commented on #271
The size is not directly related to the OS base used. In `mcr.microsoft.com/azure-functions/dotnet:3.0-slim` this is the breakdown of the size

| Component | size |
| --- | --- |
| OS base | 69 MB |
| .NET deps | 41 MB |
| Functions runtime | 420 MB |

Using alpine would only reduce about 60 MBs from the OS base. However the functions runtime isn't compatible with musl-libc, so there are no plans

[2020-08-31 19:17] #271 closed

[2020-08-31 20:50] ahmelsayed commented on #226
[code]

should be working now.

[2020-08-31 20:50] #226 closed

[2020-08-31 20:51] ahmelsayed commented on #226
as well as

[code]

[2020-08-31 20:53] ahmelsayed commented on #198
The docs on docker hub come from another repo owned by the MCR team that manages the images on dockerhub for us. The docs there were updated a couple of months ago and should point to the correct dockerfiles.

[2020-08-31 20:53] #198 closed

[2020-08-31 20:55] ahmelsayed commented on #187
Closing external issue as I don't think the docker images change the behavior of the runtime.

[2020-08-31 20:55] #187 closed

[2020-08-31 20:56] ahmelsayed commented on #232
These images should be working now.

[2020-08-31 20:56] #232 closed

[2020-08-31 21:03] ahmelsayed commented on #236
Most of that is just the functions runtime + the framework used. For example the breakdown of `mcr.microsoft.com/azure-functions/node:3.0-node12-slim` is

| Component | Size |
| --- | --- |
| Base OS | 69 MB |
| .NET Core deps | 41 MB |
| node 12 | 152 MB |
| Functions runtime | 577 MB |

`mcr.microsoft.com/azure-functions/node:3.0-node12` has an extra 275 MBs for additional dependencies like chro

[2020-08-31 21:08] ahmelsayed commented on #246
`:3.0-bionic-arm32v7` is an arm32v7 image. You can try

[code]

[2020-08-31 21:08] #246 closed

[2020-08-31 21:10] ahmelsayed commented on #261
I'm not sure this is actionable in this repo. Those seem to be just R2R warnings from dotnet that are not specific to the docker image build.

[2020-08-31 21:10] #261 closed

[2020-08-31 21:10] ahmelsayed commented on #265
This should be working now.

[2020-08-31 21:10] #265 closed

[2020-08-31 21:11] ahmelsayed commented on #273
Please refer to documentation of Azure Functions over at https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview

[2020-08-31 21:11] #273 closed

[2020-08-31 21:12] ahmelsayed commented on #280
V3 of Azure Functions requires dotnet core 3.1.

[2020-08-31 21:12] #280 closed

[2020-08-31 21:13] ahmelsayed commented on #184
Old docker files required a build script to run them correctly. Current file should work with a single docker build command https://github.com/Azure/azure-functions-docker/blob/master/host/3.0/buster/amd64/java/java8/java8.Dockerfile

[2020-08-31 21:13] #184 closed

[2020-08-31 21:15] ahmelsayed commented on #185
https://github.com/Azure/azure-functions-docker/blob/master/host/2.0/alpine/amd64/java/java8.Dockerfile

should work for java on alpine for v2 functions.

[2020-08-31 21:15] #185 closed

[2020-08-31 21:16] ahmelsayed commented on #285
When deploying on AppService, only Linux Containers are supported. Windows deployments don't use containers. There is a Windows container image however if you want to run your functions on your own Windows containers host.

[2020-08-31 21:16] #285 closed

[2020-08-31 21:23] #103 closed

[2020-08-31 21:24] ahmelsayed commented on #136
unixodbc-dev should be in all current python images.

[2020-08-31 21:24] #136 closed

[2020-09-01 06:02] piizei opened #327 "Fix vulnerabilities in the V3 images"
Hi,
Since Alpine image is not going to happen to V3, would be great if the V3 images would fix the CVEs coming from the Debian base image.

CVE-2019-18276 | High | bash
CVE-2019-9923 | High | tar
CVE-2018-6829 | High | libgcrypt20
CVE-2016-2781 | Medium | coreutils
CVE-2019-13627 | Medium | libgcrypt20
CVE-2019-12904 | Medium | libgcrypt20
CVE-2020-3810 | Medium | apt
CVE-2018-1000654 | Medium | l

[2020-09-01 07:08] AdamCoulterOz commented on #325
PR #328 addresses this problem for me, but technically all the images which claim to be `buster` but are pointing at aspnet:2.1 are actually still `stretch`. To support powershell 6 you'll need a base image which is based on `buster-slim` and has both dotnet core 2 and 3 included, as powershell 6 uses dotnet core 2.

[2020-09-01 07:09] AdamCoulterOz commented on #326
I have published a PR #328 which adds a powershell 7 dockerfile for Debian buster only.

[2020-09-03 07:40] adusumillipraveen commented on #236
We had to choose other alternatives to avoid this. But it would be good to optimise this if there is a way.

[2020-09-16 00:03] #57 closed

[2020-09-22 00:07] ChrisFulstow opened #333 "Linux premium image does not have libraries needed to run headless Chrome"
Running [PuppeteerSharp](https://www.puppeteersharp.com/) on an Azure Functions Linux premium plan reports the error below, however it works fine on a Linux consumption plan. Would it be possible to get the libraries required to run headless Chrome, like libX11, added to the Linux premium images?
[code]

These are the App Service plans I tested:

### Doesn't work (Premium)
[code]

### Works fine (

[2020-09-22 00:22] anthonychu commented on #333
Thanks for reporting this. Looks like the headless Chromium dependencies are in the consumption .NET images but not the premium ones. @ahmelsayed Could you please take a look?

[2020-09-22 21:51] aaronadamsCA opened #334 "Upgrade node12-core-tools to Debian 10"
I'm not sure, but I'm guessing the only reason `node12-core-tools` uses Debian 9 is because that's what this image uses:

https://github.com/Azure/azure-functions-docker/blob/aee970796279859c87212597b16573a8c9f2baa4/host/3.0/buster/amd64/node/node12/node12-core-tools.Dockerfile#L6

If so, that project is now shipping Debian 10 image variants, so you should be able to switch to `mcr.microsoft.com/v

[2020-09-23 09:58] llanglechner commented on #323
Unfortunately this seems to not be true for all runtimes.
E.g. Python Containers seem to not include the cli (Host 2.0 and 3.0)

[2020-10-01 18:26] AnatoliB commented on #326
/cc @TsuyoshiUshio

[2020-10-01 18:43] TsuyoshiUshio commented on #326
I had a look the PR and @AnatoliB already mentioned AzDo pipeline files. I don't have any other comments.
I did quick research for core tools, It already publish 7.0.3 images also DevContainer repo is already update to enable it includes pipeline.
https://github.com/microsoft/vscode-dev-containers/blob/master/containers/azure-functions-pwsh/.devcontainer/Dockerfile

[2020-10-19 04:44] rafamerlin opened #338 "Question regarding version of dotnet runtime."
So, my understanding is that core 2.2 has reached end of life in December 2019.

However, if we check our azure function image the runtime version is 2.2
https://github.com/Azure/azure-functions-docker/blob/eef0b328374e92f4b169698939c50121a194e79c/host/2.0/stretch/amd64/dotnet/dotnet.Dockerfile#L33

Is this not matching the version of dotnet core and I'm just mistaken? Or should this moved back to

[2020-10-26 21:11] AnatoliB commented on #326
The code is merged, the built images will be published with the next Functions release.

[2020-10-26 21:16] AnatoliB commented on #325
As PowerShell 6 has reached end-of-life, we want to minimize further investments in maintaining PowerShell 6 images, so I propose closing this issue. The new PowerShell 7 images are already based on `buster`, so we will encourage you to use those. Please let us know if you have any special reason to continue using PowerShell 6 images **and** have them updated to `buster`.

[2020-10-26 21:16] #325 closed

[2020-10-29 13:23] AdamCoulterOz commented on #325
Fine for that logic... then update the docs to not indicate there is buster support for PS6 when there isn't. But thanks for the PS7 buster update.

[2020-11-10 17:49] padraic-wade opened #346 "Azure functions docker failing on UI and runtime with latest defaults"
# How to replicate:

- visit azure portal.
- select defaults to launch and create a new default app with docker container as the runtime.
- functions now specifies an error "Editing functions in the Azure portal is not supported for Function Apps deployed as a Docker image" and visiting any url of this new image causes it to fail.

[2020-11-10 22:13] markharrison commented on #84
To get the Master-Key ... how do I know / control what `{deployment-name}` is going to be ?  Every time I run in Docker, it seems to generate a new random sequence of digits
![image](https://user-images.githubusercontent.com/5177824/98739728-ccf13a00-23a1-11eb-8b47-00e48380af31.png)

[2020-11-13 13:18] command0r opened #351 "Question on the AZF image and dependencies being restored"
We're building Azure Durable Function that uses Python as the main language. The Docker image I found here takes .NET Core SDK 3.1 as a base image and restores the 'WebJobs.Script.WebHost' project. The question is, why do we need .NET SDK/Runtime here if the Function is Python-based:
[code]
The Docker manifest also takes Python later in the manifest and restores its dependencies as it should be. H

[2020-11-13 20:48] balag0 commented on #351
Azure functions uses a language worker model where there is a separate language worker process for individual langugages apart from a single host process which manages the different triggers and bindings. The host process has a dependency on .Net and the language worker process is implemented in python.

Some more details under the "Optimized for your code section" at
https://azure.microsoft.com/h

[2020-11-19 14:46] petenorth commented on #327
Is Microsoft going to respond to this?

[2020-11-19 15:23] tomkerkhove commented on #327
Adding @jeffhollan @ahmelsayed

[2020-11-19 18:31] balag0 commented on #327
Most of these have been addressed now. Only issues reamining should be those with no patch released by debian.

[2020-11-19 19:00] petenorth commented on #327
I used GitHub to scan the latest underlying image (which is `mcr.microsoft.com/dotnet/runtime-deps`)

https://github.com/petenorth/dotnet-scan/runs/1426195236?check_suite_focus=true

Zero High and Critical vulnerabilities are normally what constitute the a pass.

[2020-11-19 19:49] petenorth commented on #327
I see that `mcr.microsoft.com/dotnet/runtime-deps:3.1-bionic` as a base image would mean no critical or high vulnerabilities.

Is there any reason why a `mcr.microsoft.com/azure-functions/dotnet image` is not available using this base image?

[2020-11-19 20:15] balag0 commented on #327
Not sure what the differences are, I used the Qualys scan on mcr.microsoft.com/azure-functions/dotnet:3.0
which reports 1 vulnerability which has no patch available as I mentioned above.

![image](https://user-images.githubusercontent.com/28721598/99718550-e3615a80-2a5f-11eb-9823-50ff9cbb3567.png)

the bionic image is an arm specific image, so doesnt work with amd64 image.

The image update policy

[2020-11-19 20:37] petenorth commented on #327
There are amd64, arm64 and arm32 architecture bionic runtime dependencies images - it seems odd that only the arm32 architecture image is used to create an Azure Functions 3.0-bionic-arm32v7 why not use the amd64 architecture  bionic runtime dependencies image to create a 3.0-bionic image (with amd64 architecture).

[2020-11-19 20:43] balag0 commented on #327
I think this is a different question from what we started with :)
Are we good to close this issue.

I recommend opening a new issue for this.

[2020-11-19 20:51] petenorth commented on #327
Yes I guess so - thanks for the responses.

[2020-11-19 21:29] #327 closed

[2020-11-20 23:15] antempus opened #354 "Azure Functions & Node 14 Support"
With Azure Functions support Node 14 now in [GA/Preview](https://azure.microsoft.com/en-us/updates/nodejs-14-for-azure-functions-is-now-available-in-preview/), it would be great to see a Node 14 container available for use with DevContainers for migration work.

[2020-11-23 09:40] petenorth opened #355 "ubuntu bionic docker image version?"
There are amd64, arm64 and arm32 architecture bionic runtime dependencies images - it seems odd that only the arm32 architecture image is used to create an Azure Functions 3.0-bionic-arm32v7 why not use the amd64 architecture bionic runtime dependencies image to create a 3.0-bionic image (with amd64 architecture).

Our image scanning (Aquasec / Trivy) reports zero high/critical vulnerabilities for

[2020-11-23 09:41] petenorth commented on #327
@balag0 have raised #355

[2020-11-23 18:32] balag0 commented on #355
@ahmelsayed I think we have always used the debian images, do you remember if we tried using the bionic ubuntu amd64 base image?

[2020-11-23 18:33] divyagandhii commented on #354
@antempus There is a Node14 image available for use [/azure-functions-docker/tree/master/host/3.0/buster/amd64/node/node14](https://github.com/Azure/azure-functions-docker/tree/master/host/3.0/buster/amd64/node/node14)

[2020-11-23 18:43] divyagandhii commented on #346
@padraic-wade I tried to repro this but couldn't see any failures in the app url. If you are able to repro this, can you please share your app name? [/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately](https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)

As to not being able to edit your functions - portal editing experience is by design di

[2020-11-24 21:52] ahmelsayed commented on #355
Honestly I only added the arm32 bionic image because someone (azure-iot team) asked for it specifically. I have no issues with adding other archs for bionic, there was just never an ask for it until now. We just use debian for our default images.

[2020-11-25 01:37] davidivkovic commented on #254
Can you provide more details please?

[2020-11-30 23:05] balag0 opened #358 "Add dotnet-monitor to appservice images"
To keep things in sync with other app service images.

Will wait for the changes to be implemented in appservice images before starting work on this.

[2020-12-03 00:12] divyagandhii commented on #355
@balag0 have you started working on this? Else I can pick this up.

[2020-12-03 00:15] balag0 commented on #355
No I haven't. Feel free to assign it to yourself. thanks.

[2020-12-03 00:32] divyagandhii commented on #355
Sounds good. Thanks

[2020-12-08 20:58] pragnagopa opened #360 "Do not publish V2 Node 12 Images"
@divyagandhii @anirudhgarg @ankitkumarr

Currently image mcr.microsoft.com/azure-functions/node:2.0-node12-appservice  is available. Node 12 is not supported on V2 .
We should stop publishing this image.

[2021-01-15 01:09] anthonychu commented on #333
\+ @divyagandhii also

[2021-01-21 14:47] gugavaro commented on #333
This is something that is blocking one of my projects as well. Would be great if we could have it fixed.
Do we have any ETA for fixing it?
If help is needed, I could try to fix and submit a PR
let me know.

thanks!

[2021-01-21 22:55] balag0 commented on #333
As a workaround you can try building your own image (based of functions blessed images) and include the debian dependencies listed under
https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#chrome-headless-doesnt-launch-on-unix

[2021-01-21 23:11] ahmelsayed commented on #333
Sorry I missed this issue. The chrome-headless deps were only in node images. This https://github.com/Azure/azure-functions-docker/pull/368  should add it to dotnet images used in appservice as well.

[2021-01-29 16:45] gugavaro commented on #333
@ahmelsayed I saw you fixed #368, how long it takes to replicate? I just deploy a new Azure Functions and still getting errors, it does not seem to be using an image with your changes yet.
thanks!

[2021-01-29 18:07] balag0 commented on #333
We just finished deploying https://github.com/Azure/azure-functions-host/releases/tag/v3.0.15277 today. So the earliest the next release could begin is in a week's time. Will that work?

[2021-02-02 23:01] Hazhzeng commented on #281
Closing the issue now since it is resolved.

[2021-02-02 23:01] #281 closed

[2021-02-03 08:52] wynandjordaan opened #374 "Azure function host not starting"
We recently discovered that our Azure Functions are not starting up correctly with the newer images.

Output of a Azure Function starting up correctly (built with :
`[ ok ] Starting OpenBSD Secure Shell server: sshd.
info: Host.Triggers.Warmup[0]
      Initializing Warmup Extension.
info: Host.Startup[503]
      Initializing Host. OperationId: 'd4bbe8eb-82ca-4f74-956d-8068f8ef1b95'.
info: Host.Sta

[2021-02-06 17:56] pragnagopa opened #375 "Add support for .Net 5"
cc @anthonychu @ankitkumarr @fabiocav @divyagandhii @balag0

Assigned to Sprint 95 to figure out further details and establish a timeline

[2021-02-12 19:05] heng-liu commented on #280
Is there any way to run Azure function project targeting net5.0?

[2021-02-12 20:55] ahmelsayed commented on #280
/cc @ankitkumarr

[2021-02-15 08:50] FairyTail2000 opened #381 "Docker functions proxy"
Hello,
I would like to add a few proxys for delivering an spa to my functions app which is deployed using a docker image. Since I cannot add proxys over the azure website, I want to statically set the proxy. I know it's in json format but I don't know the correct filename so azure can use it. I have looked into the reference implementation but did not found an example

Any help would be appreciate

[2021-02-16 16:38] pragnagopa opened #382 "Bring back dotnet-isolated test to mesh builds"
Updated dotnet mesh image to include dotnet 5 : https://github.com/Azure/azure-functions-docker/issues/382

Revert https://github.com/Azure/azure-functions-docker/commit/92ce626a993094e1e8701d148eeb5a4de32ce598 ?

[2021-02-16 23:56] pragnagopa opened #384 "Include 2.0-Upgrade files in update version script"
https://github.com/Azure/azure-functions-docker/blob/dev/host/update-version.sh

[2021-02-17 00:00] pragnagopa commented on #384
Also, update release instructions to include 2.0-upgrade

[2021-02-17 21:05] fabiocav commented on #375
Closing as done.

[2021-02-17 21:05] #375 closed

[2021-02-23 02:10] TsuyoshiUshio opened #394 "Core-Tools Nightly Build fails with DotNet image 5."
https://azure-functions.visualstudio.com/azure-functions-docker/_build/results?buildId=7990&view=logs&j=6c314701-959d-5fd0-416e-8174fd0cc497&t=4d425a9b-3a28-58a6-acb9-2d8644e0627c

[code]

Need investigation, however, it looks .NET 5 related updated is not done on this pipeline.

[2021-02-23 02:23] TsuyoshiUshio opened #395 "Release Pipeline fails by the azurefunctions.azurecr.io/azure-functions/3.0/dotnet-isolated:3.0.15417-dotnet-isolated5.0-appservice not found: manifest unknown"
Refer to
https://azure-functions.visualstudio.com/azure-functions-docker/_build/results?buildId=8035&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=356bb04c-cb4a-5f04-82ca-d3b102917eba

I identify the potential fix. I'll fix it.

[2021-02-23 02:43] #395 closed, assigned to TsuyoshiUshio

[2021-02-23 14:26] gugavaro commented on #333
Hi @balag0 any updates on this? I deployed a new function last night and still hitting the errors.
let me know.

thanks,
Gustavo.

[2021-02-23 22:52] divyagandhisethi commented on #384
Fixed by #388

[2021-02-23 22:52] #384 closed, assigned to divyagandhisethi

[2021-02-24 00:55] balag0 commented on #333
New image with functions host Version 3.0.15405 is currently being deployed (which has the fix) and should complete tomorrow. If you can share your app name I can give you a more accurate status as well - https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2021-02-24 07:19] #394 closed, assigned to nobody

[2021-02-25 08:15] shaunc67 commented on #374
We too experienced this: argumentnullexception: 'value cannot be null. Parameter name: hostingEnvironment'. It's like IHostingEnvironment isn't in the DI container. As soon as we started to use dotnet:3.0.15185-appservice all started working again. I'm wondering if this is an incompatibility with other NuGets.
Regards
Shaun

[2021-02-25 21:36] TsuyoshiUshio opened #400 "Upgrade Core-Tools Health Check Pipeline for DotNet 5"
https://azure-functions.visualstudio.com/azure-functions-docker/_build?definitionId=43

Core Tools Health Check Pipeline should be add the dotnet-isolated images.

FYI @ankitkumarr

[2021-03-02 19:55] mlankamp opened #401 "dotnet-isolated pull error, tags not found"
The following tags all give errors: ```manifest unknown: manifest tagged by "3.0" is not found````
[code]

The following works:
[code]

So the tags on https://hub.docker.com/_/microsoft-azure-functions-dotnet-isolated are wrong, the tag list shows all the tags that can be used.

[2021-03-04 09:33] 0gust1 opened #402 "azure-functions image on arm64 / apple m1"
I originally filed an issue on docker-for-mac : https://github.com/docker/for-mac/issues/5419

We have a monorepo, with several programs built as docker images.

The programs all use a 'base' image that contains the necessary execution environment (based on [azure functions python images](https://hub.docker.com/_/microsoft-azure-functions-python)).

The build works fine on apple intel (classic bui

[2021-03-07 22:19] 0gust1 commented on #224
Would be nice for #402 too :)

[2021-03-10 23:36] brandonh-msft opened #403 "Node14 core tools missing"
Saw the Node 14 support announcement today, but I don't see a **core-tools** image for node in docker hub, only the "bare" (`3.0-node14`) image. Core tools images have slight differences which make our devcontainer (currently using `3.0-node12-core-tools`) not function in the same way.

It [looks like](https://github.com/Azure/azure-functions-docker/commits/user/digandhi/node14) this work's been d

[2021-03-13 01:07] torumakabe opened #404 "Signal handling for graceful shutdown"
I use dotnet:3.0-appservice image for golang based custom handler on Linux. I want to handle signals such as SIGINT/SIGTERM on custom handler, but it seems that we cannot do it because of start.sh (PID 1) does not handle these signals.

At the moment, we have to wait 10 seconds and get exit code 137 (SIGKILL) when I stop the container. Not graceful.

So, I manage it with [domb-init](https://github

[2021-03-14 16:25] pragnagopa opened #406 "Run E2E tests with mesh images"
Similar to https://github.com/Azure/azure-functions-docker-private/issues/163

[2021-03-15 22:18] mlankamp commented on #401
Seems to be solved now!

[2021-03-15 22:18] #401 closed, assigned to nobody

[2021-03-18 20:25] mhoeger opened #407 "Some dependencies exist in Consumption mesh image but NOT Dedicated image"
This causes a difference in behavior when customers try to switch between the two. We should consider keeping the installed dependencies consistent.

In particular, these headless chrome dependencies:
https://github.com/Azure/azure-functions-docker-private/blob/dev/host/3.0/buster/amd64/mesh-py39.Dockerfile#L104-L108

Which are not present here:
https://github.com/Azure/azure-functions-docker/blob

[2021-03-19 23:22] torumakabe commented on #404
FYI. The following is an explanation related to the graceful shutdown of AWS ECS. It's beneficial.

https://aws.amazon.com/jp/blogs/containers/graceful-shutdowns-with-ecs/

[2021-03-22 05:58] abhishek-loyalytics opened #408 "Error code 139"
I am running Azure Function on AKS with azure-functions/node:3.0. On fewer pods(1-6) it is working fine, but when pod scales(1-20). My pods have 1 or 2 restarts with code 139.

[2021-03-22 07:35] torumakabe commented on #404
I gave up using dumb-init for forwarding signals. Because dumb-init [does not wait](https://github.com/Yelp/dumb-init/blob/master/dumb-init.c#L112) for handling signal on subprocesses.

Instead, there is a suggestion to modify start.sh to handle signals. The following is a sample implementation.

[code]

I do not want to maintain the script, so could you please consider implementing it like this o

[2021-03-23 14:57] kscerri96 opened #411 "No Job Functions Found - Docker"
Hi,

I am trying to deploy a logic app to docker. When I run the image I get the below error.

No job functions found. Try making your job classes and methods public. If you're using binding extensions (e.g. Azure Storage, ServiceBus, Timers, etc.) make sure you've called the registration method for the extension(s) in your startup code (e.g. builder.AddAzureStorage(), builder.AddServiceBus(), bui

[2021-03-27 00:32] torumakabe commented on #404
In the end, this implementation worked in the local environment, but not in Azure. Because App Service/Functions [do not send signals before stop/restart](https://github.com/MicrosoftDocs/azure-docs/issues/72606) without in-process model. It kills our container immediately.

It is a very important issue for maximizing the robustness of our app. Does anyone have the same issue? Is anyone working on

[2021-03-29 23:24] anthonychu opened #415 "Core Tools image: update git version and default branch to main"
Currently, git 2.20 is installed, which doesn't support setting the default branch to `main`.

* Install git 2.28 or higher in Core Tools image
* `RUN git config --global init.defaultBranch main`

This way, when customers initialize a functions project, they are created with a main branch instead of master.

/cc @TsuyoshiUshio

[2021-03-30 17:34] mhoeger commented on #407
@pragnagopa - Could this be triaged? We have a customer asking for some ETA. Thanks!

[2021-03-30 18:03] mhoeger commented on #407
+@saranyaravichander who is following this issue

[2021-03-30 18:19] pragnagopa commented on #407
Thanks for flagging this @mhoeger ! Assigning to @CooperLink  - to see if this can be done as part of refactoring work he is currently looking into.

[2021-03-30 23:02] pragnagopa opened #416 "[Python]Remove Windows and OSX folders from Python Language worker folder"
Similar to https://github.com/Azure/azure-functions-host/blob/dev/build/build-extensions.ps1#L103

Delete Python, Powershell and Java workers from Node image .

Compare Node image size before and after this change

[2021-03-30 23:06] pragnagopa commented on #407
cc @ahmelsayed

[2021-03-31 14:22] nicjohn79 commented on #407
@CooperLink Please let us know if this can be done with the refactoring work. We have a large customer who would like an ETA as this is a blocker for them.

[2021-04-01 17:21] ahmelsayed commented on #407
https://github.com/Azure/azure-functions-docker/pull/417

[2021-04-01 18:08] pragnagopa commented on #416
Verified that language workers for each image only contain worker for that language!

Python worker includes a folder for Windows. We should clean that up

[code]

[2021-04-01 18:11] pragnagopa commented on #416
Update https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/buster/amd64/python/python39/python39-appservice.Dockerfile#L78 to only copy Linux folder

[2021-04-01 18:17] pragnagopa opened #418 "[Powershell]Copy only Linux Runtimes folder for Powershell worker"
Powershell Image: `mcr.microsoft.com/azure-functions/powershell:3.0.15417-powershell7-appservice`

has the following:

[code]

Deleting Windows specific folders will save ~35MB

[2021-04-02 17:34] CooperLink commented on #416
I have addressed this on my local branch but, I am still not getting the image sizes reduction that I expected.  After removing all versions of the worker other than 3.9 and removing both the Windows and OSx folders, I expected the image to reduce in size by atleast 400 mb.  Instead it is about 140mb smaller.  Still an improvement. Just not what I was expecting

[2021-04-05 18:22] #407 closed, assigned to CooperLink

[2021-04-05 18:49] pragnagopa opened #419 "Add chrome headless dependencies to host base image"
cc @TsuyoshiUshio

Follow up for https://github.com/Azure/azure-functions-docker/pull/417

Move commands in the above PR to host-image - these are needed for Node and Python all versions

[2021-04-05 18:49] pragnagopa commented on #419
cc @ahmelsayed

[2021-04-06 02:53] markusgulden commented on #323
@anthonychu  Any chance that you will publish a dedicated image containing the functions tools?
Using an image with >2GB, which actually contains the runtime, just to get the CLI for this service, seems more than inefficient to me.

AWS on the other hand provides[ an image containing their _complete_ CLI](https://hub.docker.com/r/amazon/aws-cli), and that has a size of only ~300MB.

[2021-04-06 18:06] nicjohn79 commented on #407
@ahmelsayed Does this mean the chrome headless dependencies will be added to the following docker image?:
https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/buster/amd64/python/python39/python39.Dockerfile

[2021-04-06 19:49] ahmelsayed commented on #407
yes, I guess I missed 3.9 in that PR. https://github.com/Azure/azure-functions-docker/pull/420

[2021-04-07 03:41] TsuyoshiUshio opened #421 "NOTICE: Update .NET5 isolated images once .NET 5 update released for verisign CA issue"
https://github.com/dotnet/announcements/issues/180

It looks .NET 5 NuGet restore will fail if we use current image of the .NET 5. They release new version 6th April 2021.
If we use the new one, it includes fix of the restore issue caused by the removal of Verisign CA.

https://github.com/microsoft/vscode-dev-containers/issues/809

@pragnagopa @ankitkumarr

According to the release and isolated im

[2021-04-07 17:22] CooperLink commented on #418
Resolved by removing windows runtimes for Powershell 7 and removing powershell 6 from the FunctionsHost base image. Will revert Powershell 6 to be independent of FunctionsHost base image.

[2021-04-07 17:22] #418 closed, assigned to CooperLink

[2021-04-07 17:24] pragnagopa commented on #418
Removing Powershell 6 from base image to as we do not plan to support powershell 6 on Linux

[2021-04-08 13:01] tjgalama opened #423 "dotnet image 3.0-nanoserver-1809 not updated"
Due to third party dependencies we require a **windows** Azure Functions dotnet image. On [docker hub](https://hub.docker.com/_/microsoft-azure-functions-dotnet) the image **3.0-nanoserver-1809** meets our needs. However, in contrast to all V3 _linux_ images, this image is not updated since 05/29/2020.
Although I can build the image myself with the last [DockerFile](https://github.com/Azure/azure-

[2021-04-08 14:29] nicjohn79 commented on #407
Thanks @ahmelsayed! Do you have a date when the 3.9 image will be available for download?

[2021-04-08 18:31] balag0 commented on #407
We are preparing for a release this week, so should be available sometime next week.

[2021-04-13 02:32] paulgear commented on #355
Any update on this?  I'd really like to have the option of running on Ubuntu for consistency with mcr.microsoft.com/dotnet/aspnet and mcr.microsoft.com/dotnet/sdk, so that we can consolidate our software supply chain on a smaller base, and maximise the overlap in our docker layers for performance.

[2021-04-13 02:43] paulgear opened #424 "Support running as non-root, on a high port"
Hi everyone,

We use mcr.microsoft.com/azure-functions/dotnet:3.0 to implement function apps via [KEDA](https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda), and we want to run all of our containers with Azure's "Kubernetes cluster pod security restricted standards for Linux-based workloads" policy.  This means we need both to run as non-root, and to disallow privilege

[2021-04-13 03:13] paulgear commented on #355
Looking at the source tree it appears the Dockerfiles and build scripts are maintained manually, rather than through some meta-build system.  If I've understood it correctly, I'm happy to have a crack at a PR to add the images we need.

[2021-04-15 13:59] nicjohn79 commented on #407
Hi Bala,

Is the new image ready now?

Best Regards,

Nicole Johnson
Azure Customer Engineer II
Advanced Cloud Engineering (ACE)
Office: +1 (469) 7753644
***@***.******@***.***>
Wrk hrs: Mon-Fri 9-6 PM CST
[Microsoft Logo]
If you have any feedback about my work, please let either myself or my manager know at ***@***.******@***.***>

From: Bala G ***@***.***>
Sent: Thursday, April 8, 2021 1:32 PM
T

[2021-04-15 14:01] nicjohn79 commented on #407
@balag0 is the new image ready for download now?

[2021-04-18 07:31] ankit-h commented on #355
Any update on this? the latest v3 images has couple of vulnerabilities and was hoping to have an updated image with the fixes

[2021-04-19 16:54] janvanuytrecht opened #431 "Vulnerabilities in Debian"
Hi,

Since there are alot of vulnerabilities with Debian 10, how and when are they going to be patched?

As mentioned in this issue #327, which was closed without an answer, alpine has nu vulnerabilites while Debian has too many.
How must we continue with this? Security-wise this is not acceptable.

[2021-04-19 17:03] balag0 commented on #431
I believe that question was answered - https://github.com/Azure/azure-functions-docker/issues/327#issuecomment-730558561
If you could share the list of vulnerabilties you are seeing, we can verify (and fix) if any of those have released patches now. Thanks

[2021-04-19 19:56] pragnagopa opened #432 "Use Image Builder and templates"
Using java as an example, the idea is to have a single template defined for java images which will include all the common java requirements like java agent etc. The image builder will use that template to generate actual java8, java11 , .. images by adding the correct java version installation commands.

cc @balag0

[2021-04-19 20:50] vigouredelaruse opened #433 "linux docker functions deployed to azure 404 for http routes, fine in dev"
i have a stock docker file generated against a stock azure durable functions orchestration that works sans docker in azure and locally, but fails http route discovery on docker deploy to azure while working docker local.

~~perhaps relevant- the below docker is deployed via azure devops ci/cd with a gratuitous double deploy where the container is pushed to a registry webhooked to the function, and

[2021-04-20 02:55] balag0 commented on #433
One possibility is WEBSITES_ENABLE_APP_SERVICE_STORAGE might be set to true on the app. In that case try removing that app setting or set it to false. If this is not the case, please share the appname.

You can use https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately if required,

[2021-04-20 03:35] vigouredelaruse commented on #433
app-service-storage  is false... i'd appreciate you taking a look. is this enough info? i can't trigger the http functions (404) but i can trigger activities

2021-04-20T03:30:46.502717209Z         "state": "Running",
2021-04-20T03:30:46.502721309Z         "version": "3.0.15417.0",
2021-04-20T03:30:46.502725509Z         "versionDetails": "3.0.15417 Commit hash: a7ee1f99e07ce6efec991acd83b8e00306a9

[2021-04-20 03:39] balag0 commented on #355
@paulgear We are working on refactoring some of the images, so planning on working on this right after. But hopefully you can unblock by building a custom image based on the required bionic images until then. Does that work?

[2021-04-20 04:04] balag0 commented on #433
Looking at the exception from the above failing request, does the below help? Not an expert on Durable functions so not sure if this is something you can control.

GetAllV2StorageAccounts ---> System.InvalidOperationException : Exception binding parameter 'instanceId' ---> System.ArgumentException : The serialized input is expected to be an object array with one element.
    at Microsoft.Azure.Web

[2021-04-20 08:27] paulgear commented on #355
Hi @balag0, that's fine, I just wouldn't like to waste a lot of time creating build infrastructure which is not going to be useful.  Do you have any public info about what refactoring is planned?

[2021-04-20 10:13] janvanuytrecht commented on #431
Hi! thanks alot for replying so fast.
Qualys on our Azure Service center noticed these, and stated that they are patchable:

1/ Debian Security   Update for openssl (DSA 4855-1):

Refer to Debian   security advisory https://lists.debian.org/debian-security-announce/2021/msg00035.html for patching details.
Patch: Following are links for downloading patches to fix the   vulnerabilities:    https://l

[2021-04-20 14:49] vigouredelaruse commented on #433
nah the exception is due to a missing parameter i didn't provide for the call. this code works in all supported situations except in docker in azure. the failure mode is

- all deployed fx are mapped correctly - the set is orchestration, activity and http triggered fx
- only in docker in azure does the http triggered set fail to actually have valid routes, throwing 404
- the code works in all othe

[2021-04-20 18:51] vigouredelaruse commented on #433
fixed - but on further reflection (later deployments) the 404 error returned.

thus i spun up a new function app docker instance, applied the relevant appsettings from the failing app (using the fresh deployment appsettings as a base) and the container that failed previously worked flawlessly on the new appservice instance (within the same appservice plan as the failing app)

so this seems actuall

[2021-04-20 18:51] #433 closed, assigned to nobody

[2021-04-21 00:37] balag0 commented on #355
There are 2 workitems planned
step1 is to extract out some common base layers across images and build them once and reuse.
step2 is to generate dockerfiles using templates instead of having to edit the docker files directly.

It might be a while before step2 is started, but step1 is in progress currently. I think it would be helpful if you can share more details on the build infrastructure you are

[2021-04-21 20:36] pragnagopa opened #434 "Update docker images to use extension bundles from bundles release rather than cdn"
ExtensionBundles in docker images - pull bundles from CDN:

https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/buster/amd64/java/java11/java11.Dockerfile#L22

This requires us to push bundles to CDN before starting Linux deployment.

We need to be using bundles from : https://github.com/Azure/azure-functions-extension-bundles/releases to ensure bundles are deployed to Azure before r

[2021-04-21 20:58] soninaren commented on #434
CDN update is already part of the build and happens automatically before the PR step. Closing this issue, as this is a no-op.

[2021-04-21 20:58] #434 closed, assigned to soninaren

[2021-04-24 14:56] pragnagopa opened #437 "Add Functions V3 Node 8 Image"
This is need to support Functions V2 apps auto-upgraded to Functions V3

[2021-04-26 14:16] #437 closed, assigned to pragnagopa

[2021-04-28 01:10] paulgear commented on #355
@balag0 Any chance you can take a look at PR #436?  It's building OK for me in our work AzDO instance.

[2021-04-29 09:41] TonyReg opened #441 "Docker image dotnet-isolated"
I'm using Functions as dotnet-isolated locally and it works fine.
I wish to host it with a docker container, so went straight to the dotnet-isolated images.

I have 2 Timer Trigger functions and 1 Queue Trigger function.

When using `FROM mcr.microsoft.com/azure-functions/dotnet-isolated:3.0` image I get missing compatible framework version and gRPC fails.
[code]

---
Comparing the `dotnet` and `d

[2021-04-29 15:33] Holger-Seemueller commented on #431
Hello,
i would like to participate in that discussion because we are facing exactly the same situation (with mcr.microsoft.com/azure-functions/python:3.0-python3.7)

Our scanner found two critical issues (besides several high and low ones): CVE-2021-20231 and CVE-2021-20232

Are there any plans to go at least to a newer version of Debian?
I would also be very interested for the concrete reasons fo

[2021-05-03 17:52] TsuyoshiUshio commented on #415
I tested locally. If we want to update, We might probably build from source. However, it is not complex like following.  I tested with [ppa](https://itsfoss.com/install-git-ubuntu/). However, it doesn't work.

https://www.digitalocean.com/community/tutorials/how-to-install-git-on-debian-10

Once debian support the 2.28+ then we can rollback the change. We are building CoreTools with Nightly build.

[2021-05-07 11:30] TonyReg commented on #441
Updated the description.

[2021-05-07 12:33] janvanuytrecht commented on #431
@balag0 any feedback regarding my question?
Is there any release planned to fix these security issues or releasing an alpine version?

[2021-05-21 12:46] Barre14 commented on #424
We need this too. We would like to enforce some of the policies from Azure Policy, which requires our pods to run with runAsNonRoot = true.
Could you please fix this, so we can run the images in the most secure way?

thx,

Bart

[2021-05-24 22:57] torumakabe commented on #404
Does anyone watch this issue? As mentioned in the famous [The Twelve-Factor App](https://12factor.net/disposability), signal handling is essential. Many developers refer to The Twelve-Factor App as best practices for Cloud Native App. FYI, AWS published [an excellent doc](https://aws.amazon.com/jp/blogs/containers/developing-twelve-factor-apps-using-amazon-ecs-and-aws-fargate/).

Of course, signal

[2021-05-26 21:30] brettsam opened #451 "Revisit chrome headless dependencies for v4 docker images"
The Chrome headless dependencies currently fail to install with the .NET 6.0 image. At least one package seems to be deprecated from Debian 11: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=895037.

Need to revisit before v4 GA.

[2021-06-01 15:00] janvanuytrecht commented on #431
Still no feedback? This is taking quite long for just an answer, no?

[2021-06-01 17:43] balag0 commented on #431
@janvanuytrecht Sorry for the delay. I ran qualys scan on mcr.microsoft.com/azure-functions/dotnet:3.0 (sha256:51e397ceb4863898580b360ca3d4ed6e29d36095983fd38e6cb526f8eb69144e) and the only vulnerability we see is the below one which doesn't have a patch.

![image](https://user-images.githubusercontent.com/28721598/120364890-a30e4f00-c2c2-11eb-84f1-3fbd1b0d912f.png)

Is that the image you are usin

[2021-06-11 21:09] pragnagopa opened #455 "[V4]Set WorkerDir to Function App root"
Follow up for https://github.com/microsoft/Azure-App-Service-on-Azure-Arc/issues/118

In V3:
-	Node : Current directory: /home/site/wwwroot
-	Dotnet: Current Working Directory:/
-	Dotnet-Isolated:  Current Working Directory:/home/site/wwwroot

Setting `WORKDIR /home/site/wwwroot`  is a breaking change for existing V3 linux in-proc dotnet apps. But we should address this in V4 for consistency and s

[2021-06-15 14:58] namrathah7 commented on #411
I am getting the same error..Any update on this ?

[2021-06-17 07:39] maxpagels opened #456 "Installing unixodbc-dev using python base image has suddenly started to fail"
Our azure function builds have started to fail since yesterday, this previously worked:

    FROM mcr.microsoft.com/azure-functions/python:3.0-python3.8

    RUN apt-get update

    RUN apt-get install -y build-essential unixodbc-dev

Now, it throws an error:
    E: Failed to fetch https://packages.microsoft.com/debian/9/prod/pool/main/u/unixodbc/unixodbc-dev_2.3.7_amd64.deb  404  Not Found [IP: 1

[2021-06-24 06:09] vasicvuk commented on #431
Our container registry scanner shows 325 Vulnerabilities in NodeJS based function container image. 23 of them are Critical and 46 are of high severity.

[2021-06-24 13:07] AlekseyKolosov opened #457 "Something changed in the latest mcr.microsoft.com/azure-functions/python:3.0-python3.6-appservice"
Something changed in the latest mcr.microsoft.com/azure-functions/python:3.0-python3.6-appservice after 11 may 2021

We used this dockerfile earlier:

[code]

and it worked, but after the new release of python:3.0-python3.6-appservice, executing "python" fails with
`/lib/x86_64-linux-gnu/libc.so.6: version GLIBC_2.28' not found`

[2021-06-28 12:01] madhugilla opened #458 "docker support for isolated workers (The framework 'Microsoft.NETCore.App', version '3.1.0' was not found.)"
Hi,

we are planning to use .net 5 isolated worker function runtime in a docker container, is this supported oob ? if yes can you please point to any documentation/howtos ?

we are facing the issue of missing dotnet 3.1 form the MS generated docker file

1) i created a project with docker support and dotnetIsolated runtime using the following command

func init --worker-runtime dotnetIsolated --do

[2021-06-28 21:38] balag0 commented on #431
@vasicvuk Which image was this?

[2021-06-29 06:27] vasicvuk commented on #431
@balag0 It is: **mcr.microsoft.com/azure-functions/node:3.0**

[2021-06-29 16:44] stephen776 commented on #323
The linked docker images do not include .NET 5 SDK required to build `dotnet-isolated` functions

[2021-07-02 21:33] derekrprice opened #462 "Import Latest Extension Bundles (for Kafka)"
I see that https://github.com/Azure/azure-functions-extension-bundles/blob/v2.x/src/Microsoft.Azure.Functions.ExtensionBundle/extensions.json reports support for the kafkaTrigger, yet using the 2.x bundle in the latest mcr.microsoft.com/azure-functions/node:3.0-node14 image, I still get this error:
[code]
And I see this in extensions.csproj:
[code]

[2021-07-05 23:12] anthonychu commented on #323
@stephen776 The .NET Isolated Core Tools image (`mcr.microsoft.com/azure-functions/dotnet-isolated:3.0-dotnet-isolated5.0-core-tools`) includes the .NET 5 SDK. However, it's missing the .NET Core 3.1 SDK that's also needed to build .NET Isolated apps. That's in this PR here that I'll need to follow up on: https://github.com/Azure/azure-functions-docker/pull/426

@markusgulden How do you plan on us

[2021-07-06 00:31] stephen776 commented on #323
Sorry, @anthonychu. Yes, you’re correct I’m missing the 3.1 SDK. I’ll keep an eye out for that PR

[2021-07-06 12:45] chlab commented on #431
I can confirm this issue. We are using `mcr.microsoft.com/azure-functions/node:3.0-node14-slim` and ran it through WhiteSource, Snyk, Grype und Trivy - all of them report dozens of vulnerabilities. To verify, just run

[code]

We want to use these images in an enterprise setting, we cannot accept this amount of vulnerabilities in our images (or even begin analysing the potential impact of each one

[2021-07-06 19:14] balag0 commented on #431
@vasicvuk I ran the qualys scan on the node:3.0 image and the only issue reported was http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-18276 and there is no patch available for that. For any other issues with available patches, the next release should get the patches automatically.

@chlab will get back to you on this.

[2021-07-06 19:46] vasicvuk commented on #431
@balag0 which scanner are you using? I am getting results like @chlab does.

I also agree that using Alpine as base images is better option.

[2021-07-07 08:31] Holger-Seemueller commented on #431
I can confirm the same for mcr.microsoft.com/azure-functions/python:3.0-python3.7 (also based on Debian) using trivy:latest:

473 LOW
94 MEDIUM
107 HIGH
29 CRITICAL

If needed i can provide the detailed scan results.

[2021-07-07 12:26] Jerbaco-dev commented on #431
Hi,

Here are some more details on the question of @janvanuytrecht.
We see a lot of scanned images in Azure Security Center, with the same error as mentioned.

The score is impacted, so we must have a way to mitigate those issue and increase our score.

For more details you can check the screenshot below.
![image](https://user-images.githubusercontent.com/78689165/124758940-653ebf00-df2f-11eb-9837

[2021-07-14 22:02] fsalmeida commented on #458
I'm facing the very same problem.
To solve this problem, I've installed the dotnet_sdk 3.1.409 manually with the following command after "FROM mcr.microsoft.com/dotnet/sdk:5.0 AS installer-env"

RUN dotnet_sdk_version=3.1.409 && curl -SL --output dotnet.tar.gz https://dotnetcli.azureedge.net/dotnet/Sdk/$dotnet_sdk_version/dotnet-sdk-$dotnet_sdk_version-linux-x64.tar.gz && mkdir -p /usr/share/dotne

[2021-07-20 15:45] DanielSSilva commented on #315
Hey @chriswill! Did you figure this out? I was doing some tests and I'm able to run thew container successfully, but one of my colleagues can't. From what I've been reading, it might be related to slow network speeds. How did you sort this?

[2021-07-20 16:13] chriswill commented on #315
@DanielSSilva I'm no longer working with containers on this project any longer, so I didn't create or record a solution.

[2021-07-27 11:37] dfibuch commented on #441
I'm having the same problem, running a v3 Functions App using Docker (same image as you) with dotnet-isolated runtime. I've got a ticket open with MS to try solve this. I have tried deploying completely new AppService/ResourceGroup/FunctionsApp but still no luck,

Did you get anywhere with your issue?

[2021-08-03 13:37] TonyReg commented on #441
@dfibuch,
No, I didn't take the fight; just optimized the existing function to take less than 10 min and hosted it on consumption plan.

[2021-08-03 13:43] dfibuch commented on #441
@lKoTl Fair enough. I just got off the phone with MS Azure support to show them exactly what is going on and it'll be getting escalated. Will update here if/when I hear back from them.

[2021-08-05 03:55] Michael-D-Pine-dorsavi opened #469 "Basic function dependency injection .net 5 isolated"
I have a basic function which I build a docker image and deploy and it works fine, just return "Ok" on a POST.

I then changed my Main method to include adding configurationBuilder as such

`                .ConfigureAppConfiguration(configurationBuilder =>
                {
                    configurationBuilder.AddEnvironmentVariables();
                    //.AddJsonFile("local.settings.json"

[2021-08-05 05:06] Michael-D-Pine-dorsavi commented on #469
Just did a quick test with building 2 images one WITHOUT the
`.ConfigureAppConfiguration(configurationBuilder => { configurationBuilder.AddEnvironmentVariables(); //.AddJsonFile("local.settings.json", optional: true, reloadOnChange: true); })`

that work.

one WITH
`.ConfigureAppConfiguration(configurationBuilder => { configurationBuilder.AddEnvironmentVariables(); //.AddJsonFile("local.settings.j

[2021-08-09 19:06] balag0 opened #472 "[V4 Images] Is Zulu Debian 11 image needed?"
mcr.microsoft.com/java/maven:11-zulu-debian10
is used in
https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/buster/amd64/java/java11/java11-core-tools.Dockerfile#L6

Do we need / have debian11 zulu image for v4 core tools image?
+ @amamounelsayed

[2021-08-09 19:12] balag0 opened #473 "[V4 Images] Is libc-dev needed in v4 images?"
https://github.com/Azure/azure-functions-docker/blob/30078ae49e027bfeaf375d9fe8dc05442d4b5e4a/host/4/bullseye/amd64/dotnet/dotnet-inproc/dotnet-appservice.Dockerfile#L52

adds libc-dev for v4 dotnet image as a workaround. Do we need this in other images as well?
(Looks like not adding that lib results in  runtime failures, so the way to answer this question would be to run some functional test and

[2021-08-09 19:16] balag0 opened #474 "[V4 Images] Core tools docker build fails with - The repository 'https://packages.microsoft.com/repos/azure-cli bullseye Release' does not have a Release file."
\host\4\bullseye\amd64\dotnet\dotnet-inproc\dotnet-core-tools.Dockerfile
and
\host\4\bullseye\amd64\dotnet\dotnet-isolated\dotnet-isolated-core-tools.Dockerfile

do not build currently.

Error:

	&& echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $(lsb_release -cs) main" > /etc/apt/sources.list.d/azure-cli.list \
	&& apt-get update \

Fails with

Get:7 https://packages.micro

[2021-08-09 19:18] balag0 opened #475 "[V4 Images] Powershell core tools docker build fails with - "powershell : Depends: libicu63 but it is not installable""
In 4\bullseye\amd64\powershell\powershell7-core-tools.Dockerfile

step
apt install -y /tmp/powershell.deb

fails with
#7 39.95  powershell : Depends: libicu63 but it is not installable
#7 39.97 E: Unable to correct problems, you have held broken packages.

+ @Francisco-Gamino

[2021-08-10 10:29] dcwUipath commented on #441
Possibly related: https://github.com/Azure/azure-functions-dotnet-worker/issues/524

[2021-08-11 14:16] pacorreia commented on #431
I'm a bit concerned with the lack of response about patching these vulnerabilities, most of them are Critical!

I don't see the commitment to keep security patching as a priority.
I tired a simple apt-get  update  and upgrade and of course is not enough.

Does Microsoft need a formal complaint about this? How can we help you guys to get priority on this?

[2021-08-11 23:07] balag0 opened #479 "Missing updates to base images"
Looks like some of the recent host updates haven't propagated to all repositories.
Ex: mcr.microsoft.com/azure-functions/python:3.0-python3.7 hasn't been updated with the last few functions host releases.

[2021-08-11 23:08] balag0 commented on #431
Apologize for the delay in responding.
1) Looks like there is a bug in the publish pipeline where some of the recent updates haven't been pushed to the all the repositories.
This is the reason mcr.microsoft.com/azure-functions/python:3.0-python3.7 image reports more vulnerabilities than what is reported for the debian base image
Tracked by https://github.com/Azure/azure-functions-docker/issues/479

[2021-08-12 00:45] pragnagopa opened #480 "Add test to ensure staged publish includes images listed in publish"
Add test that verifies - images in - https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/publish.yml are included in https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/publish-appservice-stage.yml

[2021-08-12 00:46] pragnagopa commented on #480
cc @CooperLink @balag0 @yojagad @divyagandhisethi

[2021-08-12 06:29] janvanuytrecht commented on #431
Thanks for the update.

What about the vulnerability on the .net version?

[2021-08-12 07:14] balag0 commented on #431
It is likely impacted by the same issue but I can confirm if you could share the imagename you are referring to.

[2021-08-12 14:05] dfibuch commented on #441
Thank you for linking this, it has actually fixed my issue,

[2021-08-13 00:44] balag0 opened #481 "[V4 Images] V4 Python images are using python:3.9-slim-buster base images"
There is no python:3.9-slim-bullseye image available currently.
Need to confirm if using the buster image is okay from functionality point of view.

+@vrdmr

[2021-08-13 14:03] pacorreia commented on #431
Thanks for the update, I leave some facts (fresh ones) that make our Security Center very very red... and will spare more words as pictures will speak for themselves.

A simple docker scan gave the following results:

 - mcr.microsoft.com/azure-functions/dotnet:3.0-appservice
     Docker scan result:
     ![image](https://user-images.githubusercontent.com/54323159/129368707-14f9b3e5-b886-4f79-adcd

[2021-08-16 19:47] balag0 commented on #479
More impacted images:
mcr.microsoft.com/azure-functions/dotnet:3.0-appservice
mcr.microsoft.com/azure-functions/python:3.0-python3.8-appservice

[2021-08-16 19:51] balag0 commented on #431
Thanks.
The issues in
mcr.microsoft.com/azure-functions/dotnet:3.0-appservice
mcr.microsoft.com/azure-functions/python:3.0-python3.8-appservice
are due to https://github.com/Azure/azure-functions-docker/issues/479

mcr.microsoft.com/azure-functions/python:3.0-python3.8-core-tools
was updated 3 days back. So it could have been after the above scan was run.
With the latest image, there is one high s

[2021-08-16 20:17] pacorreia commented on #431
Thanks @balag0,

for the python one, the scan was done on last Friday.

I'll update the image asap.
Thanks for the update

[2021-08-17 15:13] Holger-Seemueller commented on #431
Thanks for the update!

I just run trivy on my machine for python:3.0-python3.8-core-tools and python:3.0-python3.7(-slim) but i cannot see a difference...

mcr.microsoft.com/azure-functions/python:3.0-python3.8-core-tools (debian 10.10)
Total: 934 (UNKNOWN: 0, LOW: 698, MEDIUM: 96, HIGH: 119, CRITICAL: 21)

mcr.microsoft.com/azure-functions/python:3.0-python3.7 (debian 10.9)
Total: 862 (UNKNOWN:

[2021-08-17 15:47] pacorreia commented on #431
yes I do confirm

A terça, 17/08/2021, 16:13, Holger-Seemueller ***@***.***>
escreveu:

[2021-08-23 13:12] bfmsoft opened #485 ".Net 6.0 preview, Preview Docker for version 4.0?"
failed to solve with frontend dockerfile.v0: failed to create LLB definition: mcr.microsoft.com/azure-functions/dotnet:4.0: not found

This is generated in Visual Studio 2022 when you "Add Docker".  It references 4.0.  Is there a work around?

#See https://aka.ms/containerfastmode to understand how Visual Studio uses this Dockerfile to build your images for faster debugging.

FROM mcr.microsoft.co

[2021-08-24 05:33] balag0 commented on #485
The image to use is
mcr.microsoft.com/azure-functions/dotnet:4

As a workaround you can try modifying the base image to use right tag (4 instead of 4.0).

@brettsam Looks like this is an issue with the autogenerated template in VS. Would you know if this is being tracked already?

[2021-08-25 06:02] balag0 commented on #479
These images have been updated. keeping the issue open until the next release to complete some validations.

[2021-08-26 07:49] iamNoah1 opened #487 "Azure Functions with Docker on M1 machine"
I am trying to run Azure Functions with Docker on a M1 machine without success so far. Is my assumption right, that there is no base image for arm M1 architecture at the moment?

[2021-08-26 18:25] balag0 commented on #487
Correct.

[2021-08-27 14:32] linoecarrillo commented on #481
@balag0 python:3.9-slim-bullseye image is now available: https://github.com/docker-library/python/blob/f154e5d1c8f5b582aa2fd782df880b9cc96bb431/3.9/bullseye/slim/Dockerfile

[2021-08-27 23:09] TsuyoshiUshio opened #490 "Rollback the change one Azure CLI support the bullseye"
python images moved from buster to bullseye however, Azure CLI doesn't support it for now.
I created a patch.

Once Azure CLI support it, rollback this change.

# Target PR
https://github.com/Azure/azure-functions-docker/pull/489

[2021-08-28 18:30] iamNoah1 commented on #487
any plans for future support?

[2021-08-30 16:43] TsuyoshiUshio opened #493 "Add Test for avoiding release 3.0 with the v3 publish pipeline"
v3 publish pipeline should release only 3.a.b. version not for 3.0 now.

I had a mistake to release 3.a.b and 3.0 at the same time on this PR. We want to avoid this issue.

https://github.com/Azure/azure-functions-docker/pull/488

We need to discuss it on this issue how to make it.

3.0 is released by this pipeline (publish image step). https://azure-functions.visualstudio.com/azure-functions-dock

[2021-08-30 16:55] TsuyoshiUshio opened #494 "Change the Azure CLI installation process by InstallAzureCLIDeb"
We had an issue   when the official python image move from buster to bullseye.

https://azure-functions.visualstudio.com/azure-functions-docker/_build/results?buildId=11733&view=results

The code is here.  It is also included for the other languages/versions.
https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/buster/amd64/python/python38/python38-core-tools.Dockerfile#L15

We patche

[2021-08-30 17:00] pragnagopa commented on #480
Related issue #493

[2021-08-30 18:29] balag0 commented on #487
No, not currently. Are you able to use the dockerfiles in this repo and update the base os images as required and give it a try?

[2021-08-30 23:35] pragnagopa commented on #474
@TsuyoshiUshio - is this the same issue as fix - https://github.com/Azure/azure-functions-docker/commit/4741d3b28e475f0c26514b5826420759b33bc7d0 ?
If yes, can you please help here?

[2021-08-30 23:37] pragnagopa commented on #475
@AnatoliB - Assigned to you for now. Please find an owner

[2021-08-30 23:38] pragnagopa commented on #472
@amamounelsayed  - Assigned to you for now. Please find an owner.

[2021-08-30 23:39] pragnagopa commented on #451
@ahmelsayed - can you help with this?

[2021-08-30 23:40] pragnagopa commented on #481
@vrdmr - assigned to you for now. Please find an owner.

[2021-08-30 23:42] pragnagopa commented on #473
Assigned to owners mentioned here per language. Please update with your sign off or blocker

[2021-08-31 02:51] #475 closed, assigned to AnatoliB

[2021-08-31 02:52] TsuyoshiUshio commented on #474
hi @balag0
The same. Currently, Azure CLI team working on it. Bullseye is not supported for AzureCLI. For patching we need to fix the version. like this. https://github.com/Azure/azure-functions-docker/pull/489

My case was python image (that is internally used on the Dockerfile) os has move from buster to bullseye. For analyze it, I need more messages.

Probably we should consider to change like

[2021-08-31 04:20] balag0 commented on #474
yeah agree. I think waiting for the bullseye release for core tools should be fine since this image is not needed right away.
+@anthonychu for inputs as well.

[2021-08-31 15:08] pragnagopa commented on #494
Tagging @CooperLink as FYI.

Refactoring images will avoid issues impacting python to rest of the languages

[2021-09-02 21:04] pragnagopa opened #496 "Create Release Pipeline just to publish public base images only and document the process how to build base images"
Currently public images are published for functions runtime updates. We need a process to update public images outside of functions releases. This is needed to ensure fixes in dependencies are pulled in regularly.

Also,  need to document to Customers how to build images if they need to build on their own.

cc @balag0 @ahmelsayed

[2021-09-04 08:28] divyanshumehta commented on #236
This is stil there I am running a Azure function with .NET Core 3.1 and the image size is like 890MB and the main size is coming from `mcr.microsoft.com/azure-functions/dotnet:3.0` which is arounf 888MB. Is there no way to reduce this?

[2021-09-08 12:31] iamNoah1 commented on #487
Could give it a try at least :)

[2021-09-08 15:03] Holger-Seemueller commented on #431
Hi @balag0,
are there any new insights or can you explain the large differences between your and our scans?
Since the results differ so much i am afraid that there are maybe some misunderstandings or different approaches to scan the images?

[2021-09-08 17:53] balag0 commented on #431
Unfortunately don't have a lot of insights into how the different scans work. But I am working on adding a wiki page that explains the process we follow. (Should be ready in a day) Let us see if that can answer some of these questions.

[2021-09-11 02:15] sshojiro opened #498 "A way to install Java into python-runtime image"
Hi,

I'm new to Azure Functions docker images. I assumed the OS underlying the azure-functions image is Debian. What I want to do is to install Java (jdk-8, Java's vesion would be >=1.8.0) into Python-runtime image. So I attempted to build an image based on the following Docker file:

[code]

And the build command returns as follows:

[code]

What could I do to fix this?

Best,
S

[2021-09-11 02:41] balag0 commented on #498
It might not be exactly what you are looking for, but the following approach could give you some ideas

FROM mcr.microsoft.com/java/jre:8u252-zulu-debian10 as jre
COPY --from=jre [ "/usr/lib/jvm/zre-8-azure-amd64", "/usr/lib/jvm/zre-8-azure-amd64" ]
ENV JAVA_HOME=/usr/lib/jvm/zre-8-azure-amd64

[2021-09-11 02:52] sshojiro commented on #498
Thank you for your quick response, @balag0 .

After struggling, I may find some ways.
First I embed command to search for package name `RUN apt-cache search openjdk` and found Java 7 and Java 11 (or JDK) available. I resolved dependency issues for Java-7 first. However, `libgif4 (>=4.1.4)`  was required but not available for Debian, thus I decided not to install Java 7 and alternately try to insta

[2021-09-11 02:52] #498 closed, assigned to nobody

[2021-09-14 10:37] JackCaster opened #499 "3.0-python3.9-core-tools not available to download"
Is the image `mcr.microsoft.com/azure-functions/python/3.0-python3.9-core-tools` available to download? I can't seems to be able to use it. Here, for example, it is not listed: https://mcrflowprodcentralus.data.mcr.microsoft.com/mcrprod/azure-functions/python?P1=1631616167&P2=1&P3=1&P4=etS4ZUbzMrMeSv8lGYZp3X7kAkJMENBrrS6MMTlKwW4%3D&se=2021-09-14T10%3A42%3A47Z&sig=sqcaSdqtC6pFnoRuvOEVppU5FkAZMaozb1

[2021-09-14 16:01] balag0 commented on #499
Are you able to use python3.8 image instead?
mcr.microsoft.com/azure-functions/python:3.0-python3.8-core-tools

Looks like only python3.8 core tools image is being published now
https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/core-tools-publish.yml#L265

[2021-09-15 13:51] JackCaster commented on #499
I can use 3.8 but I kind of need 3.9. I managed to compile it myself from the dockerfile posted in this repo with some minor modifications

[2021-09-15 16:57] #499 closed, assigned to nobody

[2021-09-16 15:31] CooperLink commented on #480
Tagging PR that fixes this issue : https://github.com/Azure/azure-functions-docker/pull/500

All -appservice images must be accounted for in both pipelines (except for base image) in order for PR+Upgrade to work.

[2021-09-16 17:32] #480 closed, assigned to pragnagopa, CooperLink

[2021-09-17 07:51] cheesi opened #505 "Docker images still reference .NET 6 preview 7"
I'm currently facing an issue with the dotnet isolated images, as my images are build with `mcr.microsoft.com/dotnet/sdk:6.0`, which already points to .NET 6 RC 1.

I get the following error:
[code]

The original issue was something else. I only discovered this, after I tried to manually start the function dll within the container:
[code]

I already prepared a pull request to update all the docker

[2021-09-17 10:14] cheesi commented on #505
Already handled by https://github.com/Azure/azure-functions-docker/commit/17e18c11ae6c346541fa2c18c752d7be73bdb89e.

[2021-09-17 10:14] #505 closed, assigned to nobody

[2021-09-22 11:42] Holger-Seemueller commented on #431
Is the wiki page ready in the meantime?

[2021-09-24 22:37] balag0 opened #510 "[V4] Support for cloud specific tags"
Similar to https://github.com/Azure/azure-functions-docker/pull/509

[2021-09-25 01:42] balag0 commented on #431
Sorry for the delay. Added some details at
https://github.com/Azure/azure-functions-docker/wiki/Functions-image-release-process

Please let me know if that covers your questions.

[2021-09-27 10:52] sshojiro opened #511 "What determines the installed version of Ruby on `azure-functions/python` image?"
I attempted to deploy my Dockerfile and Functions App in Python. I included `Gemfile` for Ruby dependency and I expected a docker image `mcr.microsoft.com/azure-functions/python:3.0-python3.7` to be Debian 10 or 11, whose default Ruby version is 2.5.2. But the following message showed up:

[code]

My Dockerfile was like the below.

[code]

And my Gemfile (unused) has the below code:
[code]

Does a

[2021-09-28 02:00] balag0 commented on #511
Those logs from publishing are from a different container which is using an image based on oryx and not mcr.microsoft.com/azure-functions/python:3.0-python3.7. The only purpose for that container is to support build and you wouldn't have control over that container to install additional dependencies.

Did you need a specific ruby version available at runtime or build time?

[2021-09-28 15:09] ThorstenHans commented on #327
@balag0

Although this is issue and the discussion is quite dated, I want to re-open this one.

With Azure Defender (Qualys) a first class container image scanning offering (sold by Microsoft) keeps on flagging the [2019-18276 CVE](https://security-tracker.debian.org/tracker/CVE-2019-18276). Obviously, it is caused by downstream Debian (Buster) which is used as base image for `mcr.microsoft.com/az

[2021-09-28 15:37] tomkerkhove commented on #327
@ahmelsayed can you help Thorsten?

[2021-09-28 17:56] balag0 commented on #327
@ThorstenHans Lets move this to a separate issue if we need further followup.
Short answer is - No plans to move dotnet3 images from buster to bullseye. Is moving to functions v4-dotnet6 an option for you since those images are based on bullseye.

[2021-09-29 06:51] ThorstenHans commented on #327
@balag0 that's something I've to discuss with the team. From hosting perspective, we've to postpone it till v4 is in GA (IIRC 22nd of November). However, the team has a bunch of code that must be compiled and tested against .NET 6.

But thanks for the heads-up. I'll file a new issue depending on the outcome of the discussion with the team.

[2021-09-30 01:45] sshojiro commented on #511
Hi @balag0,
Thanks for the comment. Okay, the remote env is on Oryx and I don't have the control... No, I don't need a specific version of ruby this time. But the behaviour was slightly confusing, so I was little interested in what was right.
Thanks,

[2021-09-30 01:45] #511 closed, assigned to nobody

[2021-09-30 16:51] boris-tarasov-maersk opened #520 "error on loading native library on linux bases hosts (docker and Azure app elastic premium plan)"
to communicate with github and be able to create repository secrets we need to use one of recommended libsodium bindings.

One such biding that supports dot net core is https://github.com/tabrath/libsodium-core

After a few days and several experiments, I came to conclusion that something is broken in a way azure functions work with native libs.

How to reproduce working scenario:

create simple c

[2021-10-01 12:57] sshojiro commented on #511
**Further Investigation Report**

This was an issue of deployment and destination OS (and subscription plan).
[Ruby](https://github.com/microsoft/Oryx/blob/main/doc/runtimes/ruby.md#detect) is installed when `Gemfile` is located in the repo, while [Java](https://github.com/microsoft/Oryx/blob/main/doc/runtimes/java.md) is installed when `*.{java,jsp}` file(s) is found in the repo.

When you use `A

[2021-10-01 22:32] horihiro commented on #240
As far as I investigated, the specified command is passed to `docker run`.

![image](https://user-images.githubusercontent.com/4566555/135692768-54157c97-93f2-4b48-b679-3ab7a9734327.png)

![image](https://user-images.githubusercontent.com/4566555/135691680-b54847e8-799a-4600-b83e-d0a820ffa3d8.png)

And the command is passed to `/azure-functions-host/start.sh` as an argument.

![image](https://user

[2021-10-02 02:00] balag0 commented on #240
Startup commands are not supported on functions images. The way to achieve this is to build a custom image that has the right start up command builtin.

[2021-10-02 02:21] horihiro commented on #240
Thank you @balag0 !
I understand that the startup command cannot be used for Function App. Now we can see the startup command setting in `Configuration` blade for a Function App hosted by Linux App Service Plan. It should be removed.

[2021-10-04 06:24] boris-tarasov-maersk commented on #520
meanwhile solution for me was to copy, in a pipeline, libsodium.so file to bin folder of a release zip archive before it gets deployed.

[2021-10-05 08:38] Erikvl87 opened #518 "`3.0-dotnet3-core-tools` image is built using .NET 5"
We're using the `3.0-dotnet3-core-tools` image in our pipeline to build and publish a .NET 3 Azure functions app. This suddenly stopped building 4 days ago with the following error: `The framework 'Microsoft.NETCore.App', version '3.1.0' was not found.`

It looks like the  `3.0-dotnet3-core-tools` image is now built with .NET SDK 5 while the image name suggests it should be built against .NET 3x.

[2021-10-05 10:16] ghost commented on #518
Maybe a new automated test to pull down the new image and a sample build would help?

For our vscode devcontainer we pull down the 3.1. image, and then add the 5.0. SDK in a dockerfile, because we use 5.0. features but target 3.1, so this had a .net SDK but not both we needed to build

[2021-10-05 13:58] martinpeck commented on #518
It certainly feels wrong that we have a VS Code dev container that is based off of...

[code]
... but that this tag brings down a container that only has dotnet 5.0 available.

I've just performed the following steps:

STEPS:

1. Create new folder, and use `code .` to open VS Code from new folder
2. Add devcontainer files to the project, and select `Azure Functions & C# - .NET Core 3.1` as the bas

[2021-10-05 14:02] martinpeck commented on #518
I suspect this recent PR is the cause https://github.com/Azure/azure-functions-docker/pull/515

[2021-10-05 14:46] Dave-EMIS commented on #518
I've worked around the issue by installing the .NET 3.1 SDK into my DockerFile and then instructing my build pipeline (ADO in my case) to do a `--pull` (as it is the same tag as before), but I'm not sure this is a long term solution.

Also you cannot build .NET 5 In Proc Azure functions, the options are 3 or 6 (preview), so it doesn't seem logical to have to install it yourself.

[2021-10-05 17:50] CooperLink commented on #518
Hello, thank you for filing this issue. Sorry for the inconvenience.  I have addressed this issue in the above commit.  We needed to update images that pulled functions-host to dotnet5.0 sdk.  Seems that these core-tools images got caught in that commit as mentioned above.  We are introducing maintainability features that should hopefully stop this type of thing from happening in the future. I wil

[2021-10-05 18:55] boris-tarasov-maersk commented on #520
@apawast
I do not think it is right decision to move this issue to
azure-functions-docker

I had exactly same issue running my function app on Elastic premium azure app service based on Linux. I would guess this is a comong issue running funcs in Linux environment be it in Docker or elsewhere.
being primary on Windos OS running it in Docker was just easiest way to reproduce the issue by running fu

[2021-10-05 20:06] CooperLink commented on #518
This should be resolved now. Please rebuild your images.  I tested this locally by downloading the image from MCR and checking the runtime shown here.  Sorry again for the inconvenience. I will be introducing some features to stop this from happening again in the future.  Closing issue
![image](https://user-images.githubusercontent.com/46761504/136094853-d94dc5e4-bc1f-43f7-b7ca-86a14f37c6da.png)

[2021-10-05 20:06] #518 closed, assigned to nobody

[2021-10-05 20:49] kevin-benton opened #521 "[V4 Images] Dotnet V4 Images use of linux-libc-dev have multiple vulnerabilities with fixes available"
Affected Versions andTags:

* dotnet:4
* dotnet:4-slim
* dotnet-isolated:4
* dotnet-isolated:4-slim
* dotnet-isolated:4-dotnet-isolated6.0
* dotnet-isolated:4-dotnet-isolated6.0-slim

By running a `trivy` scan against any of these tags produces the same list of patchable vulnerabilities, 9 of them being ranked as HIGH importance. The scan I ran is `docker run --rm aquasec/trivy image --ignore-unfi

[2021-10-05 21:07] martinpeck commented on #518
Thank you @CooperLink !

[2021-10-06 00:49] balag0 commented on #521
Thanks for reporting this.
Yes, rebuilding the images should fix this. So this should be fixed as part of the next functions image release. (ETA 1-2 weeks)

[2021-10-06 01:06] kevin-benton commented on #521
Great. I'll check again once I see the release.

[2021-10-06 07:05] martinpeck commented on #518
I've just re-run my repro steps, and can confirm that I get the expected result

[2021-10-06 07:43] Erikvl87 commented on #518
Thanks for acting quickly @CooperLink. I ran our pipeline again and everything is working as it should now.

[2021-10-07 06:49] chlab commented on #431
I'm a bit stumped as to why Qualys seems to be reporting very little/no vulnerabilities and other scanners are showing >100. Does anyone have any insights on this? Is Qualys the only scanner that actually realizes that the vulnerabilites were patched?

[2021-10-07 13:15] cbezenco commented on #431
In the function-image-release-process page it says:
_Functions images built using the dockerfiles in this repo are refreshed as part of every new functions runtime release. This happens roughly twice a month.__
Looking at https://github.com/Azure/azure-functions-host/releases it seems there were no update since August 17th ? is that expected ?

[2021-10-11 18:04] abhinav12 opened #523 "Using windows container base image to run functions"
Hi,
I am trying to to host azure functions in docker using Windows containers. I am currently using mcr.microsoft.com/azure-functions/dotnet:3.0-nanoserver-1809. The function app uses v3 runtime and is implemented as a .netcoreapp3.1.

The container runs fine, but on accessing the http trigger locally, I am getting "function host is not running."  Need help in figuring out what I am missing.

Dock

[2021-10-12 05:48] balag0 commented on #431
To clarify a little bit, they are separate things. The functions images are expected to be released once every 2 weeks. Functions host releases may or may not be doing releases at the same frequency.
It is possible a new functions image is released with the same functions host version as the previous function image if there hasn't been a functions host release recently.

[2021-10-20 14:02] PleaseStopAsking opened #530 "Outdated pwsh version"
The powershell7-core-tools dockerfile has a hardcoded version var for installing pwsh. The current version is 7.0.3 which is 5 releases behind the current 7.0.x release tree. Is there a reason to leave this set to 7.0.3 or can we get this bumped to the latest release in the 7.0.x tree or even the latest 7.1.x release?

I can submit a PR if there are no technical limits.

Thanks,

https://github.co

[2021-10-20 17:17] balag0 commented on #530
Adding @Francisco-Gamino

[2021-10-20 20:22] tleguijt commented on #499
Could this be reopened? Kinda still is an issue. I also need the python3.9 core tools.
It's listed here as available image https://github.com/Azure/azure-functions-docker#python but unable to pull this image.

[2021-10-27 18:38] kevin-benton commented on #521
Closing as of Oct. 27, 2021 as vulnerabilities no longer exist.

[2021-10-27 18:38] #521 closed, assigned to nobody

[2021-11-04 21:45] CooperLink opened #538 "[Base Image] Move Composite script and Release artifacts to root dir"
Opening issue to track suggestion of @ahmelsayed to move composite generation to root directory

https://github.com/Azure/azure-functions-docker/pull/516#discussion_r720469202

[2021-11-04 21:53] CooperLink opened #539 "[Base Image] Template Dockerfiles to share code between versions."
Comment by Tsuyoshi on most recent PR.
https://github.com/Azure/azure-functions-docker/pull/516#discussion_r720437971

Out of scope for that PR but, in the future all variables that can be extracted should be to promote Dockerfile reuse between versions.  If it is possible to maintain a single dockerfile for all python images and simply template the versions that should be the approach.

[2021-11-04 21:56] CooperLink opened #540 "[Base Image] Document process for Image Updates with Base Image extracted"
https://github.com/Azure/azure-functions-docker/pull/516#issuecomment-960429745
Bala suggested improving documentation for updating images in the future.  For now, the host_version_up shell script that Tsuyoshi created will do the trick but in the future, it might be necessary to update all the documentation surrounding.  Especially helpful if we have artifacts for people to dl.

[2021-11-05 00:21] wagnerch opened #541 "DNS caching in Debian docker containers for NodeJS via nscd or dnsmasq"
NodeJS natively uses libc's gethostbyname (and/or getaddrinfo & friends) function to do name resolution.  On Linux, this C library function uses the resolver libraries and the nameserver configured in /etc/resolv.conf to do name resolution, in a bare configuration like Azure Functions docker containers there is no local DNS caching and all of the requests are sent straight to the nameserver for ev

[2021-11-05 20:29] abailey7 commented on #224
In the same boat here. Anyone from Microsoft able to comment on when there would be a plan to offer arm64 or arm32 images for Azure Functions (Node + Python)?

I have pretty much our whole stack working on my M1-based Mac and only the Azure Functions Python isn't supported directly. I know that I can build an image based on the base arm images, but I won't get updates and it creates a maintenance

[2021-11-06 00:28] germancasares commented on #510
Any updates on this? .Net 6 should be launching on Nov 9 (Next Tuesday)

[2021-11-11 00:06] CooperLink opened #552 "[Base Image] Produce v4 artifacts on release"
Extract Base Image for V4 by CooperLink · Pull Request #551 · Azure/azure-functions-docker (github.com)

As a result of this PR series, .Dockerfiles used to build and push production (-appservice) images will be generated, zipped and attached as an asset on the release.  Currently, this is intended to be operational for v3.  Work to come for v4 release artifacts after I am able to test the release

[2021-11-11 22:03] CooperLink opened #554 "[Linux Release] Remove Release/3.x"
While releasing Functions 3.4.1 on Linux, we encountered merge conflicts between release/3.x and dev.  These merge conflicts are blocking release.  To resolve these conflicts we force-pushed dev updates to the release branch.  But, upon investigation of the release.yml github action. @VpOfEngineering and I were unable to find a valid need for the branch. This issue is going to track the removal of

[2021-11-12 17:21] anthonychu opened #556 "Change v4 images from nightly to stable"
They were temporarily using the .NET nightlies to generate our first v4 GA image because it was the only way to get the image before Nov 8 and the .NET team was able to ensure it contained .NET 6 RTM bits. There’s no guarantee of this going forward and we need to change them to stable before next release.

/cc @CooperLink @kshyju

[2021-11-12 17:22] anthonychu opened #557 "Publish v4 Core Tools images"
Doesn’t look like these are being generated right now.

[2021-11-12 17:25] anthonychu opened #558 "Node.js 16 core tools container uses Node.js 14"
https://github.com/Azure/azure-functions-docker/blob/fb9f07d9b5b9cf497a4b3caacdd92d32c0c76425/host/4/bullseye/amd64/node/node16/node16-core-tools.Dockerfile#L6

/cc @alrod

#557

[2021-11-17 23:43] CooperLink opened #560 "[ Base Image ] Upload Dockerfile Artifacts during Build Pipelines"
https://github.com/Azure/azure-functions-docker/pull/551#discussion_r751611273

Tsuyoshi called out that it would be useful to produce Dockerfile artifacts as a part of the build pipeline.  I agree so I am capturing the future work item here. Going to include this in the near future for better traceability.

Docs for uploading artifacts:
https://docs.microsoft.com/en-us/azure/devops/pipelines/arti

[2021-11-19 02:08] #556 closed, assigned to kshyju

[2021-11-30 17:28] DrEight opened #565 "SSL Certificate Error in Linux Docker container"
I'm using Azure function V4 in isolated mode inside a Linux Container.
The host machine is running Azurite configured in https.
When the container tries to connect to the host I get:

_Microsoft.Azure.WebJobs.Script.WebHost.WebScriptHostExceptionHandler[0]
      An unhandled exception has occurred. Host is shutting down.
      Microsoft.Azure.Storage.StorageException: The SSL connection could not

[2021-12-01 17:04] v-bbalaiagar commented on #565
Transferring this issue to docker repo for further investigation.

[2021-12-02 20:48] RafaNardo commented on #557
Hi @anthonychu,

Try use the following image:

mcr.microsoft.com/azure-functions/dotnet:4

[2021-12-02 21:14] stevehawken opened #568 "Azure Functions V4 Linux support for NTLM"
#### Investigative information

Please provide the following:

- Timestamp: 2021-12-02 20:45:01.486
- Function App version: V4
- Invocation ID: b40ec635-67be-436b-9d5e-803abffc2f65
- NET: 6.0
- Region: East US

#### Repro steps

I am writing an Azure function that connects to a SharePoint 2016 farm (on prem) over SOAP which uses NTLM. It works fine on Windows but when I deploy it to Azure Function

[2021-12-03 10:28] RiaanVR opened #566 "Host v4 core-tools images installs azure-functions-core-tools-3"
Hi, I'm getting started with a dev container and a new app and thought to use the latest image.

I'm using this base image mcr.microsoft.com/azure-functions/python:4-python3.9-core-tools, which I am to understand is this [DockerFile](https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/python/python39/python39-core-tools.Dockerfile)

However this does not install the SDK

[2021-12-04 03:59] mohsinonxrm commented on #487
@iamNoah1 , any luck?

[2021-12-06 13:21] iamNoah1 commented on #487
@mohsinonxrm nope, not yet

[2021-12-07 07:54] v-bbalaiagar commented on #568
Hi @stevehawken, Thank you for your feedback! We would like to know whether this is a consumption or dedicated plan.

Hi @pragnagopa, Can you kindly look into this.

[2021-12-07 16:12] pragnagopa commented on #568
@stevehawken - transferring this incident to repo where we have images for all the major versions for Functions Runtime.

[2021-12-07 16:16] pragnagopa commented on #568
As of now there are no plans  to install - `gss-ntlmssp` as part of runtime images. cc @balag0 @ahmelsayed for input.

 Please see https://github.com/Azure/azure-functions-docker/tree/dev/host/4 for V4 docker files - we will be updating readme with the right tags soon.

[2021-12-07 21:06] mohsinonxrm commented on #487
@iamNoah1 , well looks like the Extensions will need to built for v4/.net6, so that's a dependency and then also building the actual tools which I was able to build, so not completely there.

[2021-12-07 21:21] stevehawken commented on #568
@v-bbalaiagar - This is a dedicated plan.

@pragnagopa - Thank you for the information. Is there a reasoning behind not including the package? I pay for a dedicated Linux app hosting plan and without that package I would need to purchase another plan under Windows just to run a single function that requires NTLM.

I could use the free plan but we always use app service plans to provide dedicated p

[2021-12-10 00:40] pragnagopa commented on #566
Thanks for reporting. This is a bug.

[2021-12-10 00:41] pragnagopa commented on #566
cc @fabiocav @balag0

[2021-12-10 19:32] #566 closed, assigned to pragnagopa

[2021-12-13 20:59] pragnagopa opened #578 "Publish V4 Core Tools Images"
- Publish Core Tools images for all the supported languages
- Update readme to include right tags for V4 core tools images

[2021-12-13 21:28] pragnagopa commented on #578
Also need to investigate why few core-tools images are using devcontainer as base image: https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/python/python38/python38-core-tools.Dockerfile#L6 vs language sdk / runtime as base image: https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/java/java8/java8-core-tools.Dockerfile#L6

We need to use a co

[2021-12-13 21:38] pragnagopa commented on #578
@vrdmr  - is there any reason to use devcontainer as base image : https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/python/python38/python38-core-tools.Dockerfile#L6 instead of `python:3.9-bullseye` similar to Java and dotnet core-tools images?

[2021-12-13 22:25] TsuyoshiUshio commented on #578
I identify the issue by [the python 3.8 v4 core tools image fails to build](https://azure-functions.visualstudio.com/azure-functions-docker/_build/results?buildId=13113&view=logs&j=73f01dec-67da-5025-3a59-6c08056acec7&t=4ddcf9fa-0b3a-5aeb-e4cb-33d73590d36f). I suppose bullseye deb package might not published.
Let me explain.  We search `/etc/apt/sources.list.d` directory and find the sources.  dot

[2021-12-13 22:32] pragnagopa commented on #578
cc @anthonychu

[2021-12-13 22:53] pragnagopa commented on #578
@TsuyoshiUshio  - Java and dotnet core tools images should be using bullseye deb package as well?

[2021-12-13 22:55] TsuyoshiUshio commented on #578
It looks core-tools not supported yet.  https://github.com/Azure/azure-functions-core-tools/issues/2702
It is confusing since the Dockerfile is under bullseye. However, for dotnet and java and others might be decided not to go with bullseye. Let's check the context. @balag0  Do you know about it?

[2021-12-13 23:07] TsuyoshiUshio commented on #578
It might be easier to move python/powershell image from `3.8` to `3.8-buster`

https://github.com/microsoft/vscode-dev-containers/blob/main/containers/python-3/.devcontainer/base.Dockerfile#L1
https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/python/python38/python38-core-tools.Dockerfile#L6

[2021-12-13 23:17] TsuyoshiUshio commented on #578
Powershell using `dotnet/sdk:6.0.100`. We might use `6.0.100-focal` (Ubuntu 20.04) instead, if it is ok. It is supported. https://github.com/Azure/azure-functions-core-tools#ubuntu-2004

https://mcr.microsoft.com/v2/dotnet/sdk/tags/list
https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/powershell/powershell7-core-tools.Dockerfile#L1

[2021-12-14 14:29] miqm opened #580 "Upgrade Extensions bundle to 3.3.0"
Hello,

Could you upgrade included Function Extensions bundle to [3.3.x](https://github.com/Azure/azure-functions-extension-bundles/releases/tag/3.3.0)? Currently the 3.0.0 version is included in images which even is not mentioned on the MS Docs page: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#extension-bundles

[2021-12-14 23:18] VpOfEngineering commented on #580
Yes, this will be included in the next host release which will be 3.5.0.

[2021-12-15 07:15] miqm commented on #580
Thanks. Any ETA when it will be? days? weeks? months? ....years? :)

[2021-12-16 10:28] RiaanVR commented on #578
@pragnagopa Did you see that the packages are now available for bullseye as well [see ](https://github.com/Azure/azure-functions-core-tools/issues/2702#issuecomment-995299397)

[2021-12-16 15:50] VpOfEngineering commented on #580
Looking at early next year as we're hitting a code freeze soon.

[2021-12-16 16:48] pragnagopa commented on #578
@RiaanVR - We are working on publishing images. Should be avaialble soon.

[2021-12-16 17:36] TsuyoshiUshio commented on #578
I'm working on it on the PR. All of them becomes bullseye. However, Java base image doesn't support bullseye, so that we are stop publishing the java. I created an issue. https://github.com/Azure/azure-functions-core-tools/issues/2878
Once Java base image available, I'll update the pipeline and publish it.

[2021-12-16 17:55] #578 closed, assigned to TsuyoshiUshio

[2021-12-29 06:46] runtimeware opened #585 "Upgrade v4 host dotnet sdk runtime image from preview to release"
v4 host still references the preview (https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/dotnet/dotnet-isolated/dotnet-isolated.Dockerfile#:~:text=FROM%20mcr.microsoft.com/dotnet/sdk%3A6.0.100%2Drc.2%20AS%20runtime%2Dimage) version of the sdk - are there plans to get on the released version?

Production functions deployed w/ the v4 runtime are listing the RC image in lo

[2022-01-04 13:23] v-bbalaiagar commented on #585
Tagging @pragnagopa / @balag0  ,  for more insights

[2022-01-05 18:22] CooperLink commented on #585
Thank you for making us aware of this.  We are rolling out a new version (v4.1.1) that will no longer log the RC image in log streams. Images that we use by default in production are defined using -composite.template files such as https://github.com/Azure/azure-functions-docker/blob/dev/host/4/bullseye/amd64/dotnet/dotnet-isolated/dotnet-isolated-composite.template#L4

When the current release is

[2022-01-05 18:22] #585 closed, assigned to nobody

[2022-01-05 18:23] runtimeware commented on #585
Sounds great thanks for following up

[2022-01-06 18:26] anthonychu commented on #558
Resolved by #575

[2022-01-06 18:26] #558 closed, assigned to nobody

[2022-01-06 18:30] anthonychu opened #590 "PowerShell 7 Core Tools image needs .NET Core 3.1"
https://github.com/Azure/azure-functions-docker/blob/924e883612bef24e8aab06744ad19d1dbb8de72c/host/4/bullseye/amd64/powershell/powershell7-core-tools.Dockerfile#L1

[2022-01-06 18:33] anthonychu opened #591 "Remove references to nightly images"
Still using `nightly` in quite a few places: https://github.com/Azure/azure-functions-docker/search?l=Dockerfile&q=nightly

[2022-01-06 19:41] kshyju commented on #591
@CooperLink FYI. Are all of these the old/obsolete files?

[2022-01-06 21:57] CooperLink commented on #591
Powershell 7 v4 is the only blessed production image that references 'nightly'.  For now I will introduce a PR to remove all references to nightly and test the images.  Should be fine to just move them all over to GA dotnet6.

To be clear, non-appservice images are not necessarily old/obsolete.  They do have purposes.  They are just not used in production Linux Dedicated Applications for Azure Fun

[2022-01-06 22:42] CooperLink commented on #590
Writing a PR currently to resolve this bug for you.  I would just like to point out that powershell7-core-tools has not included dotnet3.1 in its dockerfile since its inception 5 months ago shown here : https://github.com/Azure/azure-functions-docker/blame/67875a429d6bd52b6970521986cc5caa469f4783/host/4/bullseye/amd64/powershell/powershell7-core-tools.Dockerfile

I have copied the mechanism that a

[2022-01-06 22:46] CooperLink commented on #591
Merged resolution to this issue. Thank you for filing @anthonychu

[2022-01-06 22:46] #591 closed, assigned to kshyju

[2022-01-06 22:47] CooperLink commented on #585
The above removes nightly from non-production images.  You should still receive the fix as the release rolls out.  :)

[2022-01-06 22:51] CooperLink commented on #552
This has been resolved.  In PR 551 shown above we began introducing artifacts for both releases.

[2022-01-06 22:51] #552 closed, assigned to nobody

[2022-01-07 10:03] balag0 commented on #568
@stevehawken Like you pointed out since this is a dedicated plan, you should still be able to build a custom image that installs all the required packages.
The reasoning is just keeping the image size/ maintenance cost smaller since the same image is being used by all apps of the same type and most of the other apps might not need this. It is also very difficult to remove a package once it has bee

[2022-01-07 11:22] mattboothman commented on #236
946M, we managed to get to

[2022-01-12 18:26] #481 closed, assigned to vrdmr

[2022-01-18 03:04] EdmondAndy commented on #424
we are using mcr.microsoft.com/azure-functions/dotnet:3.0 for running azure function apps inside AKS, when run as non-root, and to disallow privilege escalation are not working, workload just silently failed and not logging any errors. want to confirm if this is supported now? if not, can you please also explain the reason why it is not supported as run as non root user since this is a big securit

[2022-01-18 12:11] v-bbalaiagar commented on #469
Hi @Michael-D-Pine-dorsavi , Apologies for the delay in response. This issue was somehow missed, we are eager to know if you are still facing the same issue, so that we can look into it.

[2022-01-18 21:34] esimkowitz opened #600 "Regression in azure-functions/dotnet-isolated:4 Docker image"
Hello, I am seeing a regression in the dotnet-isolated:4 Docker image. A few months ago, trying to run an Azure Function that was built inside this image resulted in the following error:
[code]
which manifested as a 500 error when trying to invoke a function and the following exception in the Function runtime:
[code]

I haven't seen this issue for a while but this week I have noticed it cropping u

[2022-01-18 22:11] kshyju commented on #600
The `Microsoft.AspNetCore.App` runtime was not included in the Linux images.  This was fixed in this PR: https://github.com/Azure/azure-functions-docker/pull/562. Rolling out this change is still in-progress. Will update this thread when it is done.

@VpOfEngineering FYI

[2022-01-19 17:27] kaibocai opened #604 "Need add more test cases for core tools"
Currently in the core tools pipeline there is not much solid test cases. Need add more solid test cases just like test did in this pr https://github.com/Azure/azure-functions-docker/pull/603.

[2022-01-20 00:33] cgillum commented on #600
Just chiming in that I ran into the same issue today. Thankfully, the workaround provided by @esimkowitz works for me too. 👍🏽

[2022-01-20 15:55] stevehawken commented on #568
This was resolved by creating my own docker container using the v4 image and adding gss-ntlmssp to it. For others running into the same issue you have the following options:

1. Create a custom docker container and add gss-ntlmssp
2. Run on windows

[2022-01-20 15:55] #568 closed, assigned to nobody

[2022-01-21 17:48] esimkowitz commented on #600
@kshyju @VpOfEngineering do you have any updates/ETAs on the rollout of the new Docker image version for azure-functions/dotnet-isolated:4?

[2022-01-21 17:52] VpOfEngineering commented on #600
We are currently in-progress to roll out the changes. Within the next week, you should see version 4.1.3 appear which includes the new image.

[2022-01-21 17:56] VpOfEngineering commented on #600
I will also post an update here when it is fully deployed

[2022-01-25 20:52] esimkowitz commented on #600
@kshyju @VpOfEngineering I just tried out 4.1.3 as the base image and it is still failing with the same error. @cgillum can you give it a try too? I used mcr.microsoft.com/azure-functions/dotnet-isolated:4.1.3

[2022-01-26 17:12] CooperLink commented on #600
Hi Evan, thank you for filing this important issue. I can see what is happening here. The changes that @kshyju introduced in #562 are available in the -appservice images provided by the Functions team.  Those changes were not included in the non-appservice images that you are using.  For now, you can build based on 4.1.3-appservice tag and you should be unblocked. Sorry about this. Will be taking

[2022-01-27 12:52] valentynbulakh opened #612 "Fix or update Apache.Avro nuget packages"
Hi
We are using azure-functions to build docker image,
After build we do Aqua Scanner to check Vulnerabilities.
The latest image 4.1.3 hat 4  Vulnerabilities related to Apache.Avro.
https://nvd.nist.gov/vuln/detail/CVE-2021-43045

This issue if fixed in Apache.Avro version 1.11.0.
In azure-functions image version is 1.10.2.

Can you update image to use latest Apache.Avro version or how we can do t

[2022-01-31 19:35] esimkowitz opened #613 "Vulnerabilities identified in dotnet-isolated base image"
My team's component governance tracker has identified the following vulnerabilities in the mcr.microsoft.com/azure-functions/dotnet-isolated:4 base image: https://security-tracker.debian.org/tracker/CVE-2021-3995, https://security-tracker.debian.org/tracker/CVE-2021-3996

The affected package is Debian:11:util-linux 2.36.1-8

The recommended action is: This vulnerability has been resolved in the l

[2022-02-03 00:15] CooperLink opened #614 "Node images are missing dependencies for Playwright"
For Premium customers, Consumption Images support playwright but, the same app fails on premium workers because of a bad dependency.  Need to include the dependency here.

[2022-02-07 16:32] v-bbalaiagar commented on #612
Hi @valentynbulakh , Thank you for your feedback! We would like to know what container image you are using.

[2022-02-08 10:19] valentynbulakh commented on #612
@v-bbalaiagar
Currently [dotnet:3.1.4](https://mcr.microsoft.com/azure-functions/dotnet:3.1.4).
The latest version that available version is 4.1.3,
in this version Apache Avro updated only to 1.10.2 version.

Vulnerability issue fixed in 1.11.0 version.

[2022-02-09 20:10] esimkowitz commented on #600
@CooperLink any update on the PR to get this change into all feeds? I see it's been open for 2 weeks

[2022-02-14 16:27] v-bbalaiagar commented on #612
Hi @pragnagopa , Could you please look into this issue.

[2022-02-15 11:21] v-bbalaiagar commented on #523
Hi @abhinav12 , Apologies for the delayed response, We would like to know if you are still facing the same issue so that I can route this issue to concerned team.

[2022-02-15 15:48] holtalanm opened #621 "No v4.0 nanoserver image?"
Was just looking at the repo and published image tags, and I don't see a windows container option for functions v4.0.

Is this intentional?   I suppose I can use v3.0, but was really hoping to use .net6.   I have a requirement needing a windows container due to other legacy software.

[2022-02-16 22:48] brettsam opened #623 "Move dotnet-isolated images off of .NET 5"
With support for .NET 5 going out-of-support soon, we should be moving our dotnet-isolated images to .NET 6

For example: https://github.com/Azure/azure-functions-docker/blob/dev/host/3.0/buster/amd64/dotnet/dotnet-isolated/dotnet-isolated-composite.template#L4

[2022-02-17 18:09] esimkowitz commented on #600
@CooperLink I see that the PR has been merged. Do you know when I can expect it to roll out to the dotnet-isolated:4 feed?

[2022-02-18 02:08] CooperLink commented on #600
Hi @esimkowitz the rollout for dotnet-isolated:4 will be completed in the next release 4.2.0.  That release process should begin this week.  The image will be available at dotnet-isolated:4 about 1 week after that.  Expected ETA is within one month. For the time being you can use AppService images as mentioned. Sorry for the delay

[2022-02-18 02:08] #590 closed, assigned to nobody

[2022-02-18 16:46] pragnagopa commented on #621
cc @Cooperlink @balag0

As of now we are not planning to publish V4 nanoserver images. We will keep the issue to collect more feedback.

[2022-02-21 10:11] valentynbulakh commented on #612
Hi @pragnagopa, when you are planning to release new image?

[2022-02-21 16:48] valentynbulakh commented on #612
also latest images:
mcr.microsoft.com/azure-functions/dotnet:4
mcr.microsoft.com/dotnet/sdk:3.1-bullseye
have move vulnerabilities that oldest
Please see attached screenshots
![Capture](https://user-images.githubusercontent.com/98530651/154997212-bd47b97f-ef10-4b8f-a640-aa39df1d13ad.JPG)
![Capture1](https://user-images.githubusercontent.com/98530651/154997215-32d98de0-4d4c-4fe6-8163-8dd0316211cf.J

[2022-02-22 16:22] pragnagopa commented on #612
Yes, we update images roughly about every two weeks - this will ensure updates in the dependency packages are pulled in. ETA for next update first week of March. If this is needed sooner  - please use Custom Container.

cc @CooperLink

[2022-02-23 21:10] liliankasem commented on #623
Moving to sprint as this is due in 3 months

[2022-02-24 21:56] CooperLink opened #628 "Set Env Var ASPNET_CONTENTROOT to /azure-functions-host"
Updates in Antares 97 are causing startup issues for Function Applications.  On a recent bridge call, @JennyLawrance, @EricSten-MSFT ,
 and @davidmrdavid were able to determine that adding ASPNET_CONTENTROOT=/azure-functions-host can mitigate these startup issues.

The Azure Functions team will be releasing a set of hotfixed images with the necessary changes.  We anticipate that these changes are

[2022-02-27 01:36] 7amou3 opened #631 "Unable to build docker compose with Azure Function project in Visual Studio 2022"
I'm trying to add an Azure Function project to a docker-compose file created in Visual Studio 2022 but this causes the solution to fail to build
(Docker for Windows 4.5.1 (74721), with WSL2 support enabled, running in Linux container mode on Windows 11 Pro)

Steps to reproduce:
1. Create a new solution with a Web Api project 'Web' that includes docker support.
1. Add a new Azure Function project '

[2022-02-28 20:59] esimkowitz commented on #613
This has resurfaced on our component governance scans, can someone please Ack?

[2022-02-28 21:00] esimkowitz commented on #613
cc @kshyju @CooperLink

[2022-02-28 23:01] wsugarman opened #633 "DSA-5073 and DSA-5085 Impacting Docker Images"
My team noticed that the base docker image `azure-functions:4@sha256:4237bd12a9e8df217009cbfd5a809a5a7e38ad28bb1556ccc929094e54d392bc` contains a vulnerable version of `libexpat1` as flagged by [DSA-5073](https://www.debian.org/security/2022/dsa-5073) and [DSA-5085](https://www.debian.org/security/2022/dsa-5085).

Executing `dpkg -l` shows it contains `libexpat1:amd64` at version `2.2.10-2`. If my

[2022-03-01 21:56] esimkowitz opened #635 "TimerTrigger functions run across all instances"
I am copying this issue from here where it has been open for 2 years: https://github.com/Azure/azure-functions-host/issues/6015

When running Azure Functions in dotnet-isolated:4 with .NET 6, I am seeing that all my instances of my timer-trigger functions are executing at every event, despite the [official documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-tim

[2022-03-02 00:36] balag0 commented on #635
Just to clarify couple of things

Shouldn't this be the only possible configuration since all instances of a function app map to a single function app which can only be linked to a single storage account. Or are you referring to different slots on the same function app?

Are 2 different instances of the same function app running invocations concurrently or is it the case that a new invocation star

[2022-03-02 04:21] balag0 commented on #633
Thanks for reporting. Do you happen to have the image:tag being used?

[2022-03-02 04:23] balag0 commented on #633
Potentially same issue as https://github.com/Azure/azure-functions-docker/issues/613

[2022-03-02 15:30] Dona278 commented on #236
News?

[2022-03-02 17:51] esimkowitz commented on #635
To clarify, we use Kubernetes to host our Azure Functions so when I say instance of the function app, I am referring to separate pods running the same function app container with the same storage account.

[2022-03-02 18:24] balag0 commented on #635
Okay, hosted on kubernetes is a good clarification.
Looks like this is already being tracked by https://github.com/Azure/azure-functions-host/issues/6015
So lets close this to avoid duplication and the host repo is the right place anyway.

[2022-03-02 18:24] #635 closed, assigned to nobody

[2022-03-02 19:09] wsugarman commented on #633
I noticed it in our usage of `mcr.microsoft.com/azure-functions/dotnet:4.0.1.16816@sha256:2c18c4ca6ad982257e9023161329c38be6d9d494bc48a6aae15ef43cc8f7ea5d`, but I moved to the latest SHA for tag 4 and still see it. So, at the very least the issue is found in:

- `mcr.microsoft.com/azure-functions/dotnet:4@sha256:4237bd12a9e8df217009cbfd5a809a5a7e38ad28bb1556ccc929094e54d392bc`
- `mcr.microsoft.com

[2022-03-04 14:04] Jonatan-V opened #639 "Not able to use @azure/identity due to missing dependency in node images"
I have a simple node function that uses @azure/identity with defaultazurecredentials to connect to key vault. It works great locally but crashed when I deploy to azure.
Error message:
'Error: libsecret-1.so.0: cannot open shared object file: No such file or directory' Stack: Error: libsecret-1.so.0: cannot open shared object file: No such file or directory at Object.Module._extensions..node (node:

[2022-03-08 04:25] Francisco-Gamino opened #640 "PowerShell 7.2 tests should only be run on V4 and skip on V3"

[2022-03-08 14:30] v-bbalaiagar commented on #631
Hi @7amou3 , Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2022-03-09 09:28] CAJTechnologyLimited opened #642 "Azure Function within Docker container - No job functions found"
Hoping someone can help me! Appreciate this is close to the following issue previous raised: https://github.com/Azure/azure-functions-docker/issues/128
Unfortunately the above link didnt solve my problem.

I added docker to an existing azure function that I had previously built. This was done via the docker support functionality within visual studio. The created dockerfile runs perfectly fine with

[2022-03-11 12:29] valentynbulakh commented on #612
@CooperLink, @pragnagopa
Hi.
Any updates when it will be fixed?

[2022-03-11 15:51] pragnagopa commented on #612
@valentynbulakh - as mentioned earlier - `Apache.Avro` is not a direct dependency in Functions Images - whenever dependency updates to latest - Functions Images will include that.

[2022-03-14 16:03] valentynbulakh commented on #612
@CooperLink, @pragnagopa
We already using custom image
as base image we are using mcr.microsoft.com/dotnet/aspnet:3.1-alpine3.14
and as build mcr.microsoft.com/dotnet/core/sdk:3.1-buster

Both images are has the similar issues.

[2022-03-14 16:18] pragnagopa commented on #612
@valentynbulakh - thanks for the details - please open issue - https://github.com/dotnet/dotnet-docker  as mentioned earlier - the packages you are referring to are not direct dependencies for the images built in this repo

[2022-03-14 16:25] wsugarman opened #648 "Error Indexing Methods in Latest Image"
Hi --

As of the latest dotnet image, `mcr.microsoft.com/azure-functions/dotnet:4-slim@sha256:7336219bb35a9f01642261fe238f4260ed30087c50123cc1397823d5617d7060`, the job host can no longer index many of my Azure Functions on start-up. I am running a docker-compose project in Visual Studio and now I see log entries like:

[code]

Upon closer inspection, my Timer trigger does not appear impacted, but

[2022-03-14 16:29] valentynbulakh commented on #612
@pragnagopa Thanks

[2022-03-14 17:12] mthalman commented on #612
@pragnagopa - I'm one of the maintainers of https://github.com/dotnet/dotnet-docker. We don't install anything from Apache.Avro in our images. I _do_ see files from Apache.Avro in the Azure Functions image though (see output below). So I would suggest investigating further on your side. This is clearly related to Azure Functions.

[code]

[2022-03-15 19:40] esimkowitz commented on #600
I've tested this using the dotnet-isolated:4 image and everything looks good, I think we can close this issue

[2022-03-15 19:40] #600 closed, assigned to nobody

[2022-03-16 09:06] mickare opened #650 "None-standard HOME directory path for root configured in all python images"
The Python images (Python3.8, etc.) configure a none-standard HOME environment variable pointing to `/home`. This is not a default behavior on Linux!

The expected behavior for root is the path `/root` or for any other user a sub-path in home `/home/{username}´.

https://github.com/Azure/azure-functions-docker/blob/557319382e31c85835441429f217a1d03681a418/host/3.0/buster/amd64/python/python38/pyth

[2022-03-17 14:47] tomvo12 commented on #648
Same problem for me, as long as I pin the docker image version to 4.1.3, my functions come up without error. If I use 4.2.1 I get the following:
[code]

[2022-03-18 01:29] balag0 commented on #648
Thanks for reporting. We are investigating actively. Please use the previous image in the meantime. Also the issue seems to be specific to functions V4. Just wanted to check if anyone is seeing this in earlier functions versions as well?

[2022-03-18 17:24] surgupta-msft commented on #648
@wsugarman and @tomvo12 I am working on investigating this issue. Can you please share more details about your apps (name, configuration, app service plan tier) which showed these exceptions?

[2022-03-19 00:55] #354 closed

[2022-03-22 14:39] v-bbalaiagar commented on #650
Tagging @pragnagopa / @vrdmr , for more inputs

[2022-03-22 21:28] wsugarman commented on #648
We use these docker images when deploying our functions to Azure Kubernetes Service, so unfortunately I don't have an app with details to share. However, our docker-compose project we include in our solution can consistently reproduce the issue here if the base image is updated for functions: https://github.com/microsoft/dicom-server/blob/main/Microsoft.Health.Dicom.sln

[2022-03-23 16:47] pragnagopa commented on #650
@vrdmr - do you have any recommendations?

[2022-03-24 11:27] valentynbulakh commented on #612
@pragnagopa, @mthalman  Do you have any updates?

[2022-03-29 16:42] #640 closed, assigned to Francisco-Gamino

[2022-03-31 17:58] stephen776 commented on #487
Any updates to this? Anyway to get this to work?

[2022-04-01 23:47] Francisco-Gamino opened #665 "Remove -e FUNCTIONS_WORKER_RUNTIME_VERSION=<PSVersion> from the E2E tests"
Remove -e FUNCTIONS_WORKER_RUNTIME_VERSION=<PSVersion> from the E2E tests

https://github.com/Azure/azure-functions-docker/blob/dev/test/index.ts#L203

[2022-04-04 17:08] wsugarman commented on #648
@surgupta-msft - Is there any update on this issue?

[2022-04-05 01:32] mtaron commented on #424
I just hit this and it still doesn't appear to be supported. I see this in the logs:

Durable task hub worker started successfully after 28ms
... _[ so far so good]_
Host started (851ms)
... _[ nice ]_
Job host started
... _[ but then everything falls apart ]_
Stopped the listener 'Microsoft.Azure.WebJobs.Extensions.Http.HttpTriggerAttributeBindingProvider+HttpTriggerBinding+**NullListener**' for

[2022-04-05 13:04] v-bbalaiagar commented on #520
Hi @boris-tarasov-maersk , Can we know if this is still persisting, we apologize for not following up frequently.

[2022-04-05 14:23] v-bbalaiagar commented on #523
Closing this issue as there is no further activity, please feel free to reach back to us in case of any further queries related to this issue.